### Preprocessing

In [141]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import LinearRegression

#  Import and read the charity_data.csv.
import pandas as pd 
vax_df = pd.read_csv("sample_data/county_data.csv")
demo_df = pd.read_csv("sample_data/NYS_demographics")
income_df = pd.read_csv("sample_data/NYS_income")
vax_df.head()
demo_df.head()
income_df.head()

   index County / County Group  ...   Education Level Head of Household Age
0      0                Albany  ...  3 - Some College                   <30
1      1                Albany  ...   4 - Associate's                   70+
2      2                Albany  ...   4 - Associate's                   <30
3      3                Albany  ...  3 - Some College                   <30
4      4                Albany  ...    5 - Bachelor's                   70+

[5 rows x 13 columns]

In [142]:
#Only keep necessary columns
vax_df = vax_df[['county','population','metrics.vaccinationsCompletedRatio']]

#Drop rows with NA
vax_df = vax_df.dropna()

#Clean county names
vax_df['county'] = vax_df['county'].str.replace(' County', '')

#Rename columns
vax_df.columns = ['County', 'Total_Pop', 'Vax_Rate']

vax_df

         County  Total_Pop  Vax_Rate
0        Albany     305506     0.672
1      Allegany      46091     0.389
2         Bronx    1418207     0.614
3        Broome     190488     0.580
4   Cattaraugus      76117     0.500
..          ...        ...       ...
57   Washington      61204     0.598
58        Wayne      89918     0.566
59  Westchester     967506     0.705
60      Wyoming      39859     0.464
61        Yates      24913     0.477

[62 rows x 3 columns]

In [143]:
#Only keep necessary columns
demo_df = demo_df[['County', 'White', 'AfricanAmerican', 'Asian', 'Other']]

#Drop rows with NA
demo_df = demo_df.dropna()

#Clean percentages
demo_df['White'] = demo_df['White'].str.replace('%', '').astype(float)
demo_df['AfricanAmerican'] = demo_df['AfricanAmerican'].str.replace('%', '').astype(float)
demo_df['Asian'] = demo_df['Asian'].str.replace('%', '').astype(float)
demo_df['Other'] = demo_df['Other'].str.replace('%', '').astype(float)

demo_df.head()

       County  White  AfricanAmerican  Asian  Other
1      Albany   77.8             13.2    6.6    2.5
2    Columbia   91.1              5.1    1.9    2.0
3      Greene   90.2              6.4    1.3    2.1
4  Rensselaer   87.8              7.2    2.8    2.2
5    Saratoga   93.6              1.9    2.7    1.7

In [144]:
#Only keep necessary columns
income_df = income_df[['County / County Group', 'Low-to-Moderate Income (LMI) Group']]

#Drop rows with NA
income_df = income_df.dropna()

#Recode Income
income_df[['Income - Very Low', 'Income - Low', 'Income - Moderate', 'Income - High']] = pd.get_dummies(income_df['Low-to-Moderate Income (LMI) Group']).astype(int)

#Drop LMI Group
income_df = income_df.drop('Low-to-Moderate Income (LMI) Group', axis=1)

#Rename County
income_df.rename(columns={'County / County Group':'County'}, inplace=True)

#Group by county
income_df = income_df.groupby('County').sum()

In [145]:
# join files
df_1 = vax_df.merge(demo_df, how='inner',on='County')
df = df_1.merge(income_df, how='inner', on='County')
df.head()

       County  Total_Pop  ...  Income - Moderate  Income - High
0      Albany     305506  ...               1152           4236
1      Albany     305506  ...               1152           4236
2       Bronx    1418207  ...               4004           7196
3       Bronx    1418207  ...               4004           7196
4  Chautauqua     126903  ...                672           2350

[5 rows x 11 columns]

In [146]:
# Drop county
df = df.drop(['County'], axis=1)

df.head()

   Total_Pop  Vax_Rate  White  ...  Income - Low  Income - Moderate  Income - High
0     305506     0.672   77.8  ...           792               1152           4236
1     305506     0.672   77.8  ...           792               1152           4236
2    1418207     0.614   44.7  ...          3870               4004           7196
3    1418207     0.614   44.7  ...          3870               4004           7196
4     126903     0.530   94.3  ...          1000                672           2350

[5 rows x 10 columns]

In [147]:
# Check all values are numeric
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Total_Pop          46 non-null     int64
 1   Vax_Rate           46 non-null     float64
 2   White              46 non-null     float64
 3   AfricanAmerican    46 non-null     float64
 4   Asian              46 non-null     float64
 5   Other              46 non-null     float64
 6   Income - Very Low  46 non-null     int64
 7   Income - Low       46 non-null     int64
 8   Income - Moderate  46 non-null     int64
 9   Income - High      46 non-null     int64
dtypes: float64(5), int64(5)
memory usage: 4.0 KB

In [148]:
# Export to CSV for multiple regression
df.to_csv('sample_data/clean_df.csv')

In [149]:
# Split our preprocessed data into our features and target arrays
y = df["Vax_Rate"].values
X = df.drop(["Vax_Rate"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [150]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Linear Regression

In [151]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [152]:
y_pred = model.predict(X_test)
print(y_pred.shape)

(12,)

In [153]:
print(model.coef_)
print(model.intercept_)

[-1.10873397e-10 -1.73933863e-01 -1.75468284e-01 -1.69163031e-01
 -1.54979827e-01  4.07509366e-07 -3.27910282e-05 -3.32032577e-06
  9.71618633e-06]
17.9592929880453

### Neural Network

In [154]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, 
                             activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 100)               1000
_________________________________________________________________
dense_4 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 101
=================================================================
Total params: 11,201
Trainable params: 11,201
Non-trainable params: 0
_________________________________________________________________

In [155]:
# Compile the model
nn.compile(loss="mean_absolute_error", 
           optimizer="adam")

In [156]:
# Create a callback that saves the model's weights every 5 epochs
callbacks = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
                                     save_weights_only=True, save_freq=5)

In [157]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[callbacks])

Epoch 1/100
2/2 [==============================] - 0s 7ms/step - loss: 0.9105
Epoch 2/100
2/2 [==============================] - 0s 5ms/step - loss: 0.5360
Epoch 3/100
2/2 [==============================] - 0s 18ms/step - loss: 0.2259
Epoch 4/100
2/2 [==============================] - 0s 6ms/step - loss: 0.2742
Epoch 5/100
2/2 [==============================] - 0s 18ms/step - loss: 0.3508
Epoch 6/100
2/2 [==============================] - 0s 6ms/step - loss: 0.3598
Epoch 7/100
2/2 [==============================] - 0s 16ms/step - loss: 0.3158
Epoch 8/100
2/2 [==============================] - 0s 15ms/step - loss: 0.2599
Epoch 9/100
2/2 [==============================] - 0s 5ms/step - loss: 0.2059
Epoch 10/100
2/2 [==============================] - 0s 19ms/step - loss: 0.1503
Epoch 11/100
2/2 [==============================] - 0s 13ms/step - loss: 0.1113
Epoch 12/100
2/2 [==============================] - 0s 10ms/step - loss: 0.1455
Epoch 13/100
2/2 [==============================] - 0s 23ms/step - loss: 0.1555
Epoch 14/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1413
Epoch 15/100
2/2 [==============================] - 0s 25ms/step - loss: 0.1133
Epoch 16/100
2/2 [==============================] - 0s 9ms/step - loss: 0.0891
Epoch 17/100
2/2 [==============================] - 0s 9ms/step - loss: 0.1037
Epoch 18/100
2/2 [==============================] - 0s 23ms/step - loss: 0.1070
Epoch 19/100
2/2 [==============================] - 0s 9ms/step - loss: 0.0921
Epoch 20/100
2/2 [==============================] - 0s 15ms/step - loss: 0.1009
Epoch 21/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1329
Epoch 22/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1299
Epoch 23/100
2/2 [==============================] - 0s 22ms/step - loss: 0.1047
Epoch 24/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0815
Epoch 25/100
2/2 [==============================] - 0s 15ms/step - loss: 0.0762
Epoch 26/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0886
Epoch 27/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0786
Epoch 28/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0803
Epoch 29/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0748
Epoch 30/100
2/2 [==============================] - 0s 17ms/step - loss: 0.0694
Epoch 31/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0666
Epoch 32/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0645
Epoch 33/100
2/2 [==============================] - 0s 14ms/step - loss: 0.0689
Epoch 34/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0713
Epoch 35/100
2/2 [==============================] - 0s 13ms/step - loss: 0.1026
Epoch 36/100
2/2 [==============================] - 0s 13ms/step - loss: 0.0930
Epoch 37/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0923
Epoch 38/100
2/2 [==============================] - 0s 22ms/step - loss: 0.0750
Epoch 39/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0668
Epoch 40/100
2/2 [==============================] - 0s 13ms/step - loss: 0.1012
Epoch 41/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0857
Epoch 42/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0708
Epoch 43/100
2/2 [==============================] - 0s 15ms/step - loss: 0.0942
Epoch 44/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0978
Epoch 45/100
2/2 [==============================] - 0s 13ms/step - loss: 0.0727
Epoch 46/100
2/2 [==============================] - 0s 9ms/step - loss: 0.0582
Epoch 47/100
2/2 [==============================] - 0s 10ms/step - loss: 0.0598
Epoch 48/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0634
Epoch 49/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0706
Epoch 50/100
2/2 [==============================] - 0s 19ms/step - loss: 0.0737
Epoch 51/100
2/2 [==============================] - 0s 11ms/step - loss: 0.1172
Epoch 52/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1632
Epoch 53/100
2/2 [==============================] - 0s 18ms/step - loss: 0.1591
Epoch 54/100
2/2 [==============================] - 0s 9ms/step - loss: 0.1193
Epoch 55/100
2/2 [==============================] - 0s 15ms/step - loss: 0.1427
Epoch 56/100
2/2 [==============================] - 0s 9ms/step - loss: 0.1467
Epoch 57/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1347
Epoch 58/100
2/2 [==============================] - 0s 13ms/step - loss: 0.1144
Epoch 59/100
2/2 [==============================] - 0s 6ms/step - loss: 0.1236
Epoch 60/100
2/2 [==============================] - 0s 18ms/step - loss: 0.1542
Epoch 61/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1329
Epoch 62/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0897
Epoch 63/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0841
Epoch 64/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0862
Epoch 65/100
2/2 [==============================] - 0s 21ms/step - loss: 0.0825
Epoch 66/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0806
Epoch 67/100
2/2 [==============================] - 0s 10ms/step - loss: 0.0676
Epoch 68/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0672
Epoch 69/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0734
Epoch 70/100
2/2 [==============================] - 0s 15ms/step - loss: 0.0691
Epoch 71/100
2/2 [==============================] - 0s 10ms/step - loss: 0.0519
Epoch 72/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0504
Epoch 73/100
2/2 [==============================] - 0s 20ms/step - loss: 0.0706
Epoch 74/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0671
Epoch 75/100
2/2 [==============================] - 0s 14ms/step - loss: 0.0555
Epoch 76/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0525
Epoch 77/100
2/2 [==============================] - 0s 9ms/step - loss: 0.0439
Epoch 78/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0741
Epoch 79/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0788
Epoch 80/100
2/2 [==============================] - 0s 17ms/step - loss: 0.0863
Epoch 81/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0822
Epoch 82/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0936
Epoch 83/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0863
Epoch 84/100
2/2 [==============================] - 0s 9ms/step - loss: 0.0609
Epoch 85/100
2/2 [==============================] - 0s 15ms/step - loss: 0.0537
Epoch 86/100
2/2 [==============================] - 0s 5ms/step - loss: 0.0578
Epoch 87/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0560
Epoch 88/100
2/2 [==============================] - 0s 27ms/step - loss: 0.0680
Epoch 89/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0618
Epoch 90/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0592
Epoch 91/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0770
Epoch 92/100
2/2 [==============================] - 0s 10ms/step - loss: 0.1039
Epoch 93/100
2/2 [==============================] - 0s 18ms/step - loss: 0.1008
Epoch 94/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0894
Epoch 95/100
2/2 [==============================] - 0s 14ms/step - loss: 0.0669
Epoch 96/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0740
Epoch 97/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0957
Epoch 98/100
2/2 [==============================] - 0s 13ms/step - loss: 0.1153
Epoch 99/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0922
Epoch 100/100
2/2 [==============================] - 0s 15ms/step - loss: 0.0639

In [158]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}")

1/1 [==============================] - 0s 116ms/step - loss: 0.0574
Loss: 0.05741020664572716

In [159]:
#Save 
nn.save('COVID_Vax_Predictions.h5')