### Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

#  Import and read the charity_data.csv.
import pandas as pd 
vax_df = pd.read_csv("sample_data/New_York_State_Statewide_COVID-19_Vaccination_Data_by_County.csv")
demo_df = pd.read_csv("sample_data/Full_2020PL_noblocks.csv")
vax_df.head()
demo_df.head()

             Region       County  First Dose  Series Complete Report as of
0    Capital Region       Albany          69                0   2020-12-14
1  Western New York     Allegany           0                0   2020-12-14
2     New York City        Bronx           2                0   2020-12-14
3     Southern Tier       Broome           0                0   2020-12-14
4  Western New York  Cattaraugus           0                0   2020-12-14

In [4]:
# Drop rows unneccesary columns
columns_to_drop = ['COUNTY','FILEID', 'STUSAB', 'SUMLEV', 'GEOVAR', 'GEOCOMP', 'CHARITER', 'CIFSN', 'LOGRECNO', 'GEOID', 'GEOCODE', 'REGION', 'DIVISION', 'STATE', 'STATENS', 'COUNTYCC', 'COUNTYNS', 'COUSUB', 'COUSUBCC', 'COUSUBNS', 'SUBMCD', 'SUBMCDCC', 'SUBMCDNS', 'ESTATE', 'ESTATECC', 'ESTATENS', 'CONCIT', 'CONCITCC', 'CONCITNS', 'PLACE', 'PLACECC', 'PLACENS', 'TRACT', 'BLKGRP', 'BLOCK', 'AIANHH', 'AIHHTLI', 'AIANHHFP', 'AIANHHCC', 'AIANHHNS', 'AITS', 'AITSFP', 'AITSCC', 'AITSNS', 'TTRACT', 'TBLKGRP', 'ANRC', 'ANRCCC', 'ANRCNS', 'CBSA', 'MEMI', 'CSA', 'METDIV', 'NECTA', 'NMEMI', 'CNECTA', 'NECTADIV', 'CBSAPCI', 'NECTAPCI', 'UA', 'UATYPE', 'UR', 'CD116', 'CD118', 'CD119', 'CD120', 'CD121', 'SLDU18', 'SLDU22', 'SLDU24', 'SLDU26', 'SLDU28', 'SLDL18', 'SLDL22', 'SLDL24', 'SLDL26', 'SLDL28', 'VTD', 'VTDI', 'ZCTA', 'SDELM', 'SDSEC', 'SDUNI', 'PUMA', 'AREALAND', 'AREAWATR', 'NAME', 'FUNCSTAT', 'GCUNI', 'HU100', 'INTPTLAT', 'INTPTLON', 'LSADC', 'PARTFLAG', 'UGA']
demo_df = demo_df.drop(columns_to_drop, axis=1)

# Rename county column
demo_df.rename(columns={'BASENAME': 'County'}, inplace=True)

# Drop rows with NA
demo_df = demo_df.dropna()
demo_df = demo_df.loc[demo_df['County'] != 'County subdivisions not defined']

demo_df

           County   POP100  P0010001  ...  P0020071  P0020072  P0020073
0          Albany   314848    314848  ...         0         0         0
1        Allegany    46456     46456  ...         0         0         0
2           Bronx  1472654   1472654  ...         0         4         4
3          Broome   198683    198683  ...         0         0         0
4     Cattaraugus    77042     77042  ...         1         0         0
...           ...      ...       ...  ...       ...       ...       ...
1895     Allegany    46456     46456  ...         0         0         0
1896  Cattaraugus    77042     77042  ...         1         0         0
1897      Steuben     3555      3555  ...         0         0         0
1898         Erie   137195    137195  ...         0         0         0
1899   Chautauqua   127657    127657  ...         0         2         2

[1870 rows x 146 columns]

In [5]:
#Remove unnecessary columns
vax_df = vax_df.drop(['Region', 'First Dose'], axis=1)

# Keep most recent dates
vax_df = pd.DataFrame(vax_df.loc[vax_df['Report as of'] == '2021-10-22'])

vax_df

            County  Series Complete Report as of
19344       Albany           204365   2021-10-22
19345     Allegany            18673   2021-10-22
19346        Bronx           857631   2021-10-22
19347       Broome           113433   2021-10-22
19348  Cattaraugus            34875   2021-10-22
...            ...              ...          ...
19401   Washington            35067   2021-10-22
19402        Wayne            53418   2021-10-22
19403  Westchester           671155   2021-10-22
19404      Wyoming            19245   2021-10-22
19405        Yates            11880   2021-10-22

[62 rows x 3 columns]

In [6]:
# join files
df = demo_df.merge(vax_df, how='inner',on='County')
df.head()

   County  POP100  P0010001  ...  P0020073  Series Complete  Report as of
0  Albany  314848    314848  ...         0           204365    2021-10-22
1  Albany   99224     99224  ...         0           204365    2021-10-22
2  Albany    1675      1675  ...         0           204365    2021-10-22
3  Albany   18147     18147  ...         0           204365    2021-10-22
4  Albany    7781      7781  ...         0           204365    2021-10-22

[5 rows x 148 columns]

In [7]:
# Calculate Vax Rate
df['Vax_Rate'] = (df['Series Complete'] / df['POP100']) * 100
df['Vax_Rate'] = df['Vax_Rate'].round()
df['Vax_Rate'] = df['Vax_Rate'].mask(df['Vax_Rate']>100,100).astype('int64')

In [8]:
df['Vax_Rate'].unique()

array([ 65, 100,  81,  40,  58,  57,  85,  45,  54,  80,  51,  48,  55,
        79,  72,  63,  61,  53,  82,  50,  90,  99,  60,  86,  62,  46,
        56,  98,  67,  59,  70,  71,  92,  88,  83,  49,  89,  66,  91,
        64,  87,  69,  93,  52,  97,  47])

In [9]:
# Drop the non-beneficial columns, County, First Dose, Series Complete, Report as of, Location
df = df.drop(['County', 'Report as of'], axis=1)

df.head()

   POP100  P0010001  P0010002  ...  P0020073  Series Complete  Vax_Rate
0  314848    314848    293076  ...         0           204365        65
1   99224     99224     91331  ...         0           204365       100
2    1675      1675      1565  ...         0           204365       100
3   18147     18147     16689  ...         0           204365       100
4    7781      7781      7276  ...         0           204365       100

[5 rows x 147 columns]

In [10]:
# Check all values are numeric
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1870 entries, 0 to 1869
Columns: 147 entries, POP100 to Vax_Rate
dtypes: int64(147)
memory usage: 2.1 MB

In [11]:
# Split our preprocessed data into our features and target arrays
y = df["Vax_Rate"].values
X = df.drop(["Vax_Rate"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Linear Regression

In [13]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
y_pred = model.predict(X_test)
print(y_pred.shape)

(468,)

In [16]:
print(model.coef_)
print(model.intercept_)

[ 1.47617300e+05  4.29436609e+07  2.15605760e+07  4.26237919e+06
  4.26237919e+06  4.26237920e+06  4.26237927e+06  4.26237925e+06
  4.26237920e+06  2.11084905e+07  4.29448201e+06  4.19982744e+05
  4.19982731e+05  4.19982628e+05  4.19983122e+05  4.19982693e+05
  4.19982678e+05  4.19983110e+05  4.19982146e+05  4.19982700e+05
  4.19982593e+05  4.19982125e+05  4.19982712e+05  4.19981638e+05
  4.19982677e+05  4.19982672e+05  4.48292051e+06  2.31544134e+05
  2.31544194e+05  2.31542713e+05  2.31544104e+05  2.31543920e+05
  2.31542393e+05  2.31544112e+05  2.31541941e+05  2.31544196e+05
  2.31542989e+05  2.31543264e+05  2.31545714e+05  2.31544253e+05
  2.31543197e+05  2.31543952e+05  2.31544155e+05  2.31547466e+05
  2.31544334e+05  2.31543597e+05  2.31543165e+05  4.42158146e+06
  2.92883602e+05  2.92883461e+05  2.92883410e+05  2.92881829e+05
  2.92883092e+05  2.92882803e+05  2.92883050e+05  2.92883274e+05
  2.92880623e+05  2.92883586e+05  2.92885475e+05  2.92885631e+05
  2.92881035e+05  2.92884354e+05  2.92885021e+05  4.04134695e+06
  6.73118348e+05  6.73117475e+05  6.73116418e+05  6.73114390e+05
  6.73126501e+05  6.73118708e+05  2.35724898e+06  2.35721441e+06
 -4.43635922e+07 -2.45506412e+07 -3.18243589e+07  8.75800552e+06
 -1.48428781e+06 -1.48428781e+06 -1.48428782e+06 -1.48428789e+06
 -1.48428777e+06 -1.48428781e+06  5.83866984e+06  1.39931412e+06
  3.57337003e+04  3.57336856e+04  3.57338173e+04  3.57335484e+04
  3.57337457e+04  3.57337595e+04  3.57333474e+04  3.57344468e+04
  3.57337545e+04  3.57338604e+04  3.57347033e+04  3.57339952e+04
  3.57347939e+04  3.57337781e+04  3.57333738e+04  1.37020887e+06
  6.48391308e+04  6.48391224e+04  6.48401801e+04  6.48390509e+04
  6.48394465e+04  6.48403875e+04  6.48387175e+04  6.48410350e+04
  6.48390022e+04  6.48395404e+04  6.48393984e+04  6.48370731e+04
  6.48387846e+04  6.48396848e+04  6.48386512e+04  6.48400113e+04
  6.48356651e+04  6.48388468e+04  6.48461409e+04  6.48397633e+04
  1.34566339e+06  8.93844484e+04  8.93839150e+04  8.93846829e+04
  8.93846308e+04  8.93838476e+04  8.93870810e+04  8.93828245e+04
  8.93837785e+04  8.94012077e+04  8.93858376e+04  8.93814255e+04
  8.93798997e+04  8.93871375e+04  8.93798926e+04  8.93799304e+04
  1.23000476e+06  2.05042435e+05  2.05042235e+05  2.05045665e+05
  2.05047916e+05  2.05037213e+05  2.05034065e+05  7.17518969e+05
  7.17529768e+05  1.02960621e-06]
100.49915531793482

### Neural Network

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, 
                             activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                2940
_________________________________________________________________
dense_1 (Dense)              (None, 20)                420
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 21
=================================================================
Total params: 3,381
Trainable params: 3,381
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="mean_absolute_error", 
           optimizer="adam")

In [19]:
# Create a callback that saves the model's weights every 5 epochs
callbacks = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
                                     save_weights_only=True, save_freq=5)

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[callbacks])

Epoch 1/100
44/44 [==============================] - 1s 3ms/step - loss: 94.1992
Epoch 2/100
44/44 [==============================] - 0s 3ms/step - loss: 87.0430
Epoch 3/100
44/44 [==============================] - 0s 3ms/step - loss: 64.6985
Epoch 4/100
44/44 [==============================] - 0s 3ms/step - loss: 27.2337
Epoch 5/100
44/44 [==============================] - 0s 6ms/step - loss: 21.5322
Epoch 6/100
44/44 [==============================] - 0s 3ms/step - loss: 20.8816
Epoch 7/100
44/44 [==============================] - 0s 3ms/step - loss: 20.1555
Epoch 8/100
44/44 [==============================] - 0s 3ms/step - loss: 19.6127
Epoch 9/100
44/44 [==============================] - 0s 3ms/step - loss: 18.9433
Epoch 10/100
44/44 [==============================] - 0s 4ms/step - loss: 18.5220
Epoch 11/100
44/44 [==============================] - 0s 3ms/step - loss: 17.9824
Epoch 12/100
44/44 [==============================] - 0s 3ms/step - loss: 17.3540
Epoch 13/100
44/44 [==============================] - 0s 3ms/step - loss: 16.8553
Epoch 14/100
44/44 [==============================] - 0s 4ms/step - loss: 16.3591
Epoch 15/100
44/44 [==============================] - 0s 3ms/step - loss: 15.8163
Epoch 16/100
44/44 [==============================] - 0s 3ms/step - loss: 15.3537
Epoch 17/100
44/44 [==============================] - 0s 3ms/step - loss: 14.8901
Epoch 18/100
44/44 [==============================] - 0s 3ms/step - loss: 14.3342
Epoch 19/100
44/44 [==============================] - 0s 3ms/step - loss: 13.9292
Epoch 20/100
44/44 [==============================] - 0s 3ms/step - loss: 13.4243
Epoch 21/100
44/44 [==============================] - 0s 3ms/step - loss: 12.8600
Epoch 22/100
44/44 [==============================] - 0s 4ms/step - loss: 12.3324
Epoch 23/100
44/44 [==============================] - 0s 3ms/step - loss: 11.8818
Epoch 24/100
44/44 [==============================] - 0s 3ms/step - loss: 11.3801
Epoch 25/100
44/44 [==============================] - 0s 3ms/step - loss: 10.7315
Epoch 26/100
44/44 [==============================] - 0s 3ms/step - loss: 10.0696
Epoch 27/100
44/44 [==============================] - 0s 3ms/step - loss: 9.5937
Epoch 28/100
44/44 [==============================] - 0s 3ms/step - loss: 9.0694
Epoch 29/100
44/44 [==============================] - 0s 3ms/step - loss: 8.5646
Epoch 30/100
44/44 [==============================] - 0s 3ms/step - loss: 8.1763
Epoch 31/100
44/44 [==============================] - 0s 3ms/step - loss: 7.7016
Epoch 32/100
44/44 [==============================] - 0s 3ms/step - loss: 7.5341
Epoch 33/100
44/44 [==============================] - 0s 4ms/step - loss: 7.1856
Epoch 34/100
44/44 [==============================] - 0s 3ms/step - loss: 6.7639
Epoch 35/100
44/44 [==============================] - 0s 3ms/step - loss: 6.5769
Epoch 36/100
44/44 [==============================] - 0s 3ms/step - loss: 6.3474
Epoch 37/100
44/44 [==============================] - 0s 3ms/step - loss: 6.1011
Epoch 38/100
44/44 [==============================] - 0s 3ms/step - loss: 5.9192
Epoch 39/100
44/44 [==============================] - 0s 4ms/step - loss: 5.7481
Epoch 40/100
44/44 [==============================] - 0s 3ms/step - loss: 5.8564
Epoch 41/100
44/44 [==============================] - 0s 3ms/step - loss: 5.6915
Epoch 42/100
44/44 [==============================] - 0s 3ms/step - loss: 5.6141
Epoch 43/100
44/44 [==============================] - 0s 3ms/step - loss: 5.4217
Epoch 44/100
44/44 [==============================] - 0s 3ms/step - loss: 5.3588
Epoch 45/100
44/44 [==============================] - 0s 3ms/step - loss: 5.4274
Epoch 46/100
44/44 [==============================] - 0s 3ms/step - loss: 5.2134
Epoch 47/100
44/44 [==============================] - 0s 3ms/step - loss: 5.0603
Epoch 48/100
44/44 [==============================] - 0s 4ms/step - loss: 4.8769
Epoch 49/100
44/44 [==============================] - 0s 3ms/step - loss: 4.9629
Epoch 50/100
44/44 [==============================] - 0s 3ms/step - loss: 4.8743
Epoch 51/100
44/44 [==============================] - 0s 4ms/step - loss: 4.6853
Epoch 52/100
44/44 [==============================] - 0s 3ms/step - loss: 4.6144
Epoch 53/100
44/44 [==============================] - 0s 3ms/step - loss: 4.6251
Epoch 54/100
44/44 [==============================] - 0s 3ms/step - loss: 4.6181
Epoch 55/100
44/44 [==============================] - 0s 3ms/step - loss: 4.5596
Epoch 56/100
44/44 [==============================] - 0s 3ms/step - loss: 4.3911
Epoch 57/100
44/44 [==============================] - 0s 3ms/step - loss: 4.3417
Epoch 58/100
44/44 [==============================] - 0s 3ms/step - loss: 4.3220
Epoch 59/100
44/44 [==============================] - 0s 3ms/step - loss: 4.3232
Epoch 60/100
44/44 [==============================] - 0s 3ms/step - loss: 4.2523
Epoch 61/100
44/44 [==============================] - 0s 3ms/step - loss: 4.1635
Epoch 62/100
44/44 [==============================] - 0s 4ms/step - loss: 4.1100
Epoch 63/100
44/44 [==============================] - 0s 4ms/step - loss: 4.2903
Epoch 64/100
44/44 [==============================] - 0s 3ms/step - loss: 4.0923
Epoch 65/100
44/44 [==============================] - 0s 3ms/step - loss: 4.0449
Epoch 66/100
44/44 [==============================] - 0s 3ms/step - loss: 4.0468
Epoch 67/100
44/44 [==============================] - 0s 3ms/step - loss: 3.8864
Epoch 68/100
44/44 [==============================] - 0s 3ms/step - loss: 4.0411
Epoch 69/100
44/44 [==============================] - 0s 3ms/step - loss: 3.8124
Epoch 70/100
44/44 [==============================] - 0s 3ms/step - loss: 3.8478
Epoch 71/100
44/44 [==============================] - 0s 3ms/step - loss: 3.8210
Epoch 72/100
44/44 [==============================] - 0s 3ms/step - loss: 3.8136
Epoch 73/100
44/44 [==============================] - 0s 3ms/step - loss: 3.6279
Epoch 74/100
44/44 [==============================] - 0s 3ms/step - loss: 3.6645
Epoch 75/100
44/44 [==============================] - 0s 3ms/step - loss: 3.6398
Epoch 76/100
44/44 [==============================] - 0s 3ms/step - loss: 3.6038
Epoch 77/100
44/44 [==============================] - 0s 3ms/step - loss: 3.5687
Epoch 78/100
44/44 [==============================] - 0s 3ms/step - loss: 3.6433
Epoch 79/100
44/44 [==============================] - 0s 3ms/step - loss: 3.5498
Epoch 80/100
44/44 [==============================] - 0s 4ms/step - loss: 3.5010
Epoch 81/100
44/44 [==============================] - 0s 3ms/step - loss: 3.5754
Epoch 82/100
44/44 [==============================] - 0s 4ms/step - loss: 3.5048
Epoch 83/100
44/44 [==============================] - 0s 3ms/step - loss: 3.3734
Epoch 84/100
44/44 [==============================] - 0s 3ms/step - loss: 3.3960
Epoch 85/100
44/44 [==============================] - 0s 3ms/step - loss: 3.4869
Epoch 86/100
44/44 [==============================] - 0s 3ms/step - loss: 3.3079
Epoch 87/100
44/44 [==============================] - 0s 3ms/step - loss: 3.3832
Epoch 88/100
44/44 [==============================] - 0s 4ms/step - loss: 3.2778
Epoch 89/100
44/44 [==============================] - 0s 4ms/step - loss: 3.1590
Epoch 90/100
44/44 [==============================] - 0s 3ms/step - loss: 3.2593
Epoch 91/100
44/44 [==============================] - 0s 3ms/step - loss: 3.2684
Epoch 92/100
44/44 [==============================] - 0s 3ms/step - loss: 3.1680
Epoch 93/100
44/44 [==============================] - 0s 3ms/step - loss: 3.1068
Epoch 94/100
44/44 [==============================] - 0s 3ms/step - loss: 3.0845
Epoch 95/100
44/44 [==============================] - 0s 4ms/step - loss: 3.2174
Epoch 96/100
44/44 [==============================] - 0s 3ms/step - loss: 3.1744
Epoch 97/100
44/44 [==============================] - 0s 3ms/step - loss: 3.2162
Epoch 98/100
44/44 [==============================] - 0s 3ms/step - loss: 2.9964
Epoch 99/100
44/44 [==============================] - 0s 3ms/step - loss: 3.2523
Epoch 100/100
44/44 [==============================] - 0s 3ms/step - loss: 3.0219

In [21]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}")

15/15 [==============================] - 0s 1ms/step - loss: 4.5200
Loss: 4.52000093460083

In [22]:
#Save 
nn.save('COVID_Vax_Predictions.h5')