### Deliverable 1: Preprocessing the Data for a Neural Network

In [122]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
vax_df = pd.read_csv("sample_data/New_York_State_Statewide_COVID-19_Vaccination_Data_by_County.csv")
demo_df = pd.read_csv("sample_data/Full_2020PL_noblocks_new.csv")
vax_df.head()
# demo_df.head()

             Region       County  First Dose  Series Complete Report as of
0    Capital Region       Albany          69                0   2020-12-14
1  Western New York     Allegany           0                0   2020-12-14
2     New York City        Bronx           2                0   2020-12-14
3     Southern Tier       Broome           0                0   2020-12-14
4  Western New York  Cattaraugus           0                0   2020-12-14

In [123]:
# Drop rows unneccesary columns
columns_to_drop = ['COUNTY','FILEID', 'STUSAB', 'SUMLEV', 'GEOVAR', 'GEOCOMP', 'CHARITER', 'CIFSN', 'LOGRECNO', 'GEOID', 'GEOCODE', 'REGION', 'DIVISION', 'STATE', 'STATENS', 'COUNTYCC', 'COUNTYNS', 'COUSUB', 'COUSUBCC', 'COUSUBNS', 'SUBMCD', 'SUBMCDCC', 'SUBMCDNS', 'ESTATE', 'ESTATECC', 'ESTATENS', 'CONCIT', 'CONCITCC', 'CONCITNS', 'PLACE', 'PLACECC', 'PLACENS', 'TRACT', 'BLKGRP', 'BLOCK', 'AIANHH', 'AIHHTLI', 'AIANHHFP', 'AIANHHCC', 'AIANHHNS', 'AITS', 'AITSFP', 'AITSCC', 'AITSNS', 'TTRACT', 'TBLKGRP', 'ANRC', 'ANRCCC', 'ANRCNS', 'CBSA', 'MEMI', 'CSA', 'METDIV', 'NECTA', 'NMEMI', 'CNECTA', 'NECTADIV', 'CBSAPCI', 'NECTAPCI', 'UA', 'UATYPE', 'UR', 'CD116', 'CD118', 'CD119', 'CD120', 'CD121', 'SLDU18', 'SLDU22', 'SLDU24', 'SLDU26', 'SLDU28', 'SLDL18', 'SLDL22', 'SLDL24', 'SLDL26', 'SLDL28', 'VTD', 'VTDI', 'ZCTA', 'SDELM', 'SDSEC', 'SDUNI', 'PUMA', 'AREALAND', 'AREAWATR', 'NAME', 'FUNCSTAT', 'GCUNI', 'HU100', 'INTPTLAT', 'INTPTLON', 'LSADC', 'PARTFLAG', 'UGA']
demo_df = demo_df.drop(columns_to_drop, axis=1)

# Rename county column
demo_df.rename(columns={'BASENAME': 'County'}, inplace=True)

# Drop rows with NA
demo_df = demo_df.dropna()
demo_df = demo_df.loc[demo_df['County'] != 'County subdivisions not defined']

demo_df

           County   POP100  P0010001  ...  P0020071  P0020072  P0020073
0          Albany   314848    314848  ...         0         0         0
1        Allegany    46456     46456  ...         0         0         0
2           Bronx  1472654   1472654  ...         0         4         4
3          Broome   198683    198683  ...         0         0         0
4     Cattaraugus    77042     77042  ...         1         0         0
...           ...      ...       ...  ...       ...       ...       ...
1895     Allegany    46456     46456  ...         0         0         0
1896  Cattaraugus    77042     77042  ...         1         0         0
1897      Steuben     3555      3555  ...         0         0         0
1898         Erie   137195    137195  ...         0         0         0
1899   Chautauqua   127657    127657  ...         0         2         2

[1870 rows x 146 columns]

In [124]:
#Remove unnecessary columns
vax_df = vax_df.drop(['Region', 'First Dose'], axis=1)

# Keep most recent dates
vax_df = pd.DataFrame(vax_df.loc[vax_df['Report as of'] == '2021-10-22'])

vax_df

            County  Series Complete Report as of
19344       Albany           204365   2021-10-22
19345     Allegany            18673   2021-10-22
19346        Bronx           857631   2021-10-22
19347       Broome           113433   2021-10-22
19348  Cattaraugus            34875   2021-10-22
...            ...              ...          ...
19401   Washington            35067   2021-10-22
19402        Wayne            53418   2021-10-22
19403  Westchester           671155   2021-10-22
19404      Wyoming            19245   2021-10-22
19405        Yates            11880   2021-10-22

[62 rows x 3 columns]

In [125]:
# join files
df = vax_df.merge(demo_df, how='inner',on='County')
df.head()

   County  Series Complete Report as of  ...  P0020071  P0020072  P0020073
0  Albany           204365   2021-10-22  ...         0         0         0
1  Albany           204365   2021-10-22  ...         0         0         0
2  Albany           204365   2021-10-22  ...         0         0         0
3  Albany           204365   2021-10-22  ...         0         0         0
4  Albany           204365   2021-10-22  ...         0         0         0

[5 rows x 148 columns]

In [129]:
# Calculate Vax Rate
df['Vax_Rate'] = (df['Series Complete'] / df['POP100']) * 100
df['Vax_Rate'] = df['Vax_Rate'].round()
df['Vax_Rate'] = df['Vax_Rate'].mask(df['Vax_Rate']>100,100).astype('int64')

In [130]:
df['Vax_Rate'].unique()

array([ 65, 100,  81,  40,  58,  57,  85,  45,  54,  80,  51,  48,  55,
        79,  72,  63,  61,  53,  82,  50,  90,  99,  60,  86,  62,  46,
        56,  98,  67,  59,  70,  71,  92,  88,  83,  49,  89,  66,  91,
        64,  69,  93,  52,  87,  97,  47])

In [131]:
# Drop the non-beneficial columns, County, First Dose, Series Complete, Report as of, Location
df = df.drop(['County', 'Report as of'], axis=1)

df.head()

KeyError: ignored

In [132]:
# Check all values are numeric
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1870 entries, 0 to 1869
Columns: 147 entries, Series Complete to Vax_Rate
dtypes: int64(147)
memory usage: 2.1 MB

In [134]:
# Split our preprocessed data into our features and target arrays
y = df["Vax_Rate"].values
X = df.drop(["Vax_Rate"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [135]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 2: Compile, Train and Evaluate the Model

In [136]:
# Update for linear regression

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, 
                             activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 20)                2940
_________________________________________________________________
dense_16 (Dense)             (None, 20)                420
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 21
=================================================================
Total params: 3,381
Trainable params: 3,381
Non-trainable params: 0
_________________________________________________________________

In [147]:
# Compile the model
nn.compile(loss="mean_absolute_error", 
           optimizer="adam")

In [148]:
# Create a callback that saves the model's weights every 5 epochs
callbacks = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
                                     save_weights_only=True, save_freq=5)

In [149]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[callbacks])

Epoch 1/100
44/44 [==============================] - 1s 4ms/step - loss: 1.8685
Epoch 2/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6996
Epoch 3/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6814
Epoch 4/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7439
Epoch 5/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7954
Epoch 6/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7021
Epoch 7/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7069
Epoch 8/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7304
Epoch 9/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6853
Epoch 10/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6852
Epoch 11/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7649
Epoch 12/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7038
Epoch 13/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7733
Epoch 14/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7333
Epoch 15/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6790
Epoch 16/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6662
Epoch 17/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6516
Epoch 18/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6564
Epoch 19/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6429
Epoch 20/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7275
Epoch 21/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7005
Epoch 22/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6812
Epoch 23/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7084
Epoch 24/100
44/44 [==============================] - 0s 3ms/step - loss: 1.8171
Epoch 25/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6900
Epoch 26/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7335
Epoch 27/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6764
Epoch 28/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6877
Epoch 29/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6614
Epoch 30/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6575
Epoch 31/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6200
Epoch 32/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6499
Epoch 33/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6498
Epoch 34/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5726
Epoch 35/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6633
Epoch 36/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7462
Epoch 37/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6702
Epoch 38/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6664
Epoch 39/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6518
Epoch 40/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6211
Epoch 41/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5463
Epoch 42/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6349
Epoch 43/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6464
Epoch 44/100
44/44 [==============================] - 0s 3ms/step - loss: 1.7101
Epoch 45/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6273
Epoch 46/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6665
Epoch 47/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6096
Epoch 48/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6475
Epoch 49/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5839
Epoch 50/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6309
Epoch 51/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5536
Epoch 52/100
44/44 [==============================] - 0s 4ms/step - loss: 1.5724
Epoch 53/100
44/44 [==============================] - 0s 4ms/step - loss: 1.5586
Epoch 54/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5871
Epoch 55/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5217
Epoch 56/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5923
Epoch 57/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6167
Epoch 58/100
44/44 [==============================] - 0s 4ms/step - loss: 1.5810
Epoch 59/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5917
Epoch 60/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5822
Epoch 61/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5049
Epoch 62/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5699
Epoch 63/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6005
Epoch 64/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6316
Epoch 65/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6209
Epoch 66/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6079
Epoch 67/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5767
Epoch 68/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6103
Epoch 69/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6040
Epoch 70/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5488
Epoch 71/100
44/44 [==============================] - 0s 4ms/step - loss: 1.5909
Epoch 72/100
44/44 [==============================] - 0s 4ms/step - loss: 1.5580
Epoch 73/100
44/44 [==============================] - 0s 3ms/step - loss: 1.6479
Epoch 74/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5651
Epoch 75/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5630
Epoch 76/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5712
Epoch 77/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5226
Epoch 78/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5689
Epoch 79/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5686
Epoch 80/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5656
Epoch 81/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5984
Epoch 82/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5019
Epoch 83/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5721
Epoch 84/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5461
Epoch 85/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5019
Epoch 86/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5381
Epoch 87/100
44/44 [==============================] - 0s 4ms/step - loss: 1.5712
Epoch 88/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5743
Epoch 89/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5486
Epoch 90/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5626
Epoch 91/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5596
Epoch 92/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5618
Epoch 93/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5973
Epoch 94/100
44/44 [==============================] - 0s 4ms/step - loss: 1.4821
Epoch 95/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5544
Epoch 96/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5286
Epoch 97/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5174
Epoch 98/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5356
Epoch 99/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5065
Epoch 100/100
44/44 [==============================] - 0s 3ms/step - loss: 1.5598

In [150]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}")

15/15 [==============================] - 0s 1ms/step - loss: 2.6786
Loss: 2.678624153137207

In [151]:
#Save 
nn.save('COVID_Vax_Predictions.h5')