### Deliverable 1: Preprocessing the Data for a Neural Network

In [8]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
vax_df = pd.read_csv("sample_data/vax.csv")
demo_df = pd.read_csv("sample_data/demo.csv")
vax_df.head()
demo_df.head()

        Location  ... Income Level - Under $15,000
0          Bronx  ...                       119280
1       Brooklyn  ...                       131944
2      Manhattan  ...                       104597
3         Queens  ...                        73238
4  Staten Island  ...                        11972

[5 rows x 16 columns]

In [9]:
# join files
df = vax_df.merge(demo_df, how='left',on='County')
df.head()

     County  ...  Income Level - Under $15,000
0     Bronx  ...                        119280
1     Kings  ...                        131944
2  New York  ...                        104597
3    Queens  ...                         73238
4  Richmond  ...                         11972

[5 rows x 19 columns]

In [24]:
# Keep most recent dates
clean_df = pd.DataFrame(df.loc[df['Report as of'] == '10/22/21'])
clean_df

        County  ...  Income Level - Under $15,000
1470     Bronx  ...                        119280
1471     Kings  ...                        131944
1472  New York  ...                        104597
1473    Queens  ...                         73238
1474  Richmond  ...                         11972

[5 rows x 19 columns]

In [25]:
# Calculate Vax Rate
clean_df['Vax_Rate'] = clean_df['Series Complete'] / clean_df['Total_Pop']
clean_df

        County  First Dose  ...  Income Level - Under $15,000  Vax_Rate
1470     Bronx      973636  ...                        119280  0.611347
1471     Kings     1697592  ...                        131944  0.607969
1472  New York     1360459  ...                        104597  0.762034
1473    Queens     1844716  ...                         73238  0.756277
1474  Richmond      327279  ...                         11972  0.633828

[5 rows x 20 columns]

In [26]:
# Drop the non-beneficial columns, County, First Dose, Series Complete, Report as of, Location
clean_df = clean_df.drop(['County', 'First Dose', 'Series Complete', 'Report as of', 'Location'], axis=1)
clean_df.head()

       Fips   Total_Pop  ...  Income Level - Under $15,000  Vax_Rate
1470  36005  1402855.40  ...                        119280  0.611347
1471  36047  2505488.00  ...                        131944  0.607969
1472  36061  1575266.24  ...                        104597  0.762034
1473  36081  2213259.38  ...                         73238  0.756277
1474  36085   468187.00  ...                         11972  0.633828

[5 rows x 15 columns]

In [27]:
# Check all values are numeric
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1470 to 1474
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Fips                                 5 non-null      int64
 1   Total_Pop                            5 non-null      float64
 2   Race/Ethnicity - Asian/NHPI          5 non-null      float64
 3   Race/Ethnicity - Black               5 non-null      float64
 4   Race/Ethnicity - Hispanic/Latino     5 non-null      float64
 5   Race/Ethnicity - White               5 non-null      float64
 6   Income Level - $100,000 to $199,999  5 non-null      int64
 7   Income Level - $15,000 to $24,999    5 non-null      int64
 8   Income Level - $200,000 or more      5 non-null      int64
 9   Income Level - $25,000 to $34,999    5 non-null      int64
 10  Income Level - $35,000 to $49,999    5 non-null      int64
 11  Income Level - $50,000 to $74,999    5 non-null      int64
 12  Income Level - $75,000 to $99,999    5 non-null      int64
 13  Income Level - Under $15,000         5 non-null      int64
 14  Vax_Rate                             5 non-null      float64
dtypes: float64(6), int64(9)
memory usage: 640.0 bytes

In [28]:
# Split our preprocessed data into our features and target arrays
y = clean_df["Vax_Rate"].values
X = clean_df.drop(["Vax_Rate"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 2: Compile, Train and Evaluate the Model

In [30]:
# Update for linear regression

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, 
                             activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                300
_________________________________________________________________
dense_1 (Dense)              (None, 20)                420
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 21
=================================================================
Total params: 741
Trainable params: 741
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the model
nn.compile(loss="mean_absolute_error", 
           optimizer="adam", 
           metrics=["accuracy"])

In [33]:
# Create a callback that saves the model's weights every 5 epochs
callbacks = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
                                     save_weights_only=True, save_freq=5)

In [34]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[callbacks])

Epoch 1/100
1/1 [==============================] - 1s 829ms/step - loss: 0.8660 - accuracy: 0.0000e+00
Epoch 2/100
1/1 [==============================] - 0s 7ms/step - loss: 0.8136 - accuracy: 0.0000e+00
Epoch 3/100
1/1 [==============================] - 0s 8ms/step - loss: 0.7612 - accuracy: 0.0000e+00
Epoch 4/100
1/1 [==============================] - 0s 7ms/step - loss: 0.7091 - accuracy: 0.0000e+00
Epoch 5/100
1/1 [==============================] - 0s 19ms/step - loss: 0.6569 - accuracy: 0.0000e+00
Epoch 6/100
1/1 [==============================] - 0s 7ms/step - loss: 0.6048 - accuracy: 0.0000e+00
Epoch 7/100
1/1 [==============================] - 0s 6ms/step - loss: 0.5531 - accuracy: 0.0000e+00
Epoch 8/100
1/1 [==============================] - 0s 6ms/step - loss: 0.5024 - accuracy: 0.0000e+00
Epoch 9/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4515 - accuracy: 0.0000e+00
Epoch 10/100
1/1 [==============================] - 0s 22ms/step - loss: 0.4004 - accuracy: 0.0000e+00
Epoch 11/100
1/1 [==============================] - 0s 7ms/step - loss: 0.3492 - accuracy: 0.0000e+00
Epoch 12/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2993 - accuracy: 0.0000e+00
Epoch 13/100
1/1 [==============================] - 0s 8ms/step - loss: 0.2512 - accuracy: 0.0000e+00
Epoch 14/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2029 - accuracy: 0.0000e+00
Epoch 15/100
1/1 [==============================] - 0s 31ms/step - loss: 0.1562 - accuracy: 0.0000e+00
Epoch 16/100
1/1 [==============================] - 0s 8ms/step - loss: 0.1235 - accuracy: 0.0000e+00
Epoch 17/100
1/1 [==============================] - 0s 13ms/step - loss: 0.0867 - accuracy: 0.0000e+00
Epoch 18/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0918 - accuracy: 0.0000e+00
Epoch 19/100
1/1 [==============================] - 0s 9ms/step - loss: 0.1057 - accuracy: 0.0000e+00
Epoch 20/100
1/1 [==============================] - 0s 33ms/step - loss: 0.1124 - accuracy: 0.0000e+00
Epoch 21/100
1/1 [==============================] - 0s 6ms/step - loss: 0.1128 - accuracy: 0.0000e+00
Epoch 22/100
1/1 [==============================] - 0s 6ms/step - loss: 0.1162 - accuracy: 0.0000e+00
Epoch 23/100
1/1 [==============================] - 0s 5ms/step - loss: 0.1137 - accuracy: 0.0000e+00
Epoch 24/100
1/1 [==============================] - 0s 7ms/step - loss: 0.1062 - accuracy: 0.0000e+00
Epoch 25/100
1/1 [==============================] - 0s 26ms/step - loss: 0.0959 - accuracy: 0.0000e+00
Epoch 26/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0923 - accuracy: 0.0000e+00
Epoch 27/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0890 - accuracy: 0.0000e+00
Epoch 28/100
1/1 [==============================] - 0s 9ms/step - loss: 0.0825 - accuracy: 0.0000e+00
Epoch 29/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0706 - accuracy: 0.0000e+00
Epoch 30/100
1/1 [==============================] - 0s 17ms/step - loss: 0.0580 - accuracy: 0.0000e+00
Epoch 31/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0421 - accuracy: 0.0000e+00
Epoch 32/100
1/1 [==============================] - 0s 10ms/step - loss: 0.0230 - accuracy: 0.0000e+00
Epoch 33/100
1/1 [==============================] - 0s 10ms/step - loss: 0.0234 - accuracy: 0.0000e+00
Epoch 34/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0324 - accuracy: 0.0000e+00
Epoch 35/100
1/1 [==============================] - 0s 22ms/step - loss: 0.0420 - accuracy: 0.0000e+00
Epoch 36/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0470 - accuracy: 0.0000e+00
Epoch 37/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0509 - accuracy: 0.0000e+00
Epoch 38/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0520 - accuracy: 0.0000e+00
Epoch 39/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0481 - accuracy: 0.0000e+00
Epoch 40/100
1/1 [==============================] - 0s 23ms/step - loss: 0.0441 - accuracy: 0.0000e+00
Epoch 41/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0356 - accuracy: 0.0000e+00
Epoch 42/100
1/1 [==============================] - 0s 10ms/step - loss: 0.0213 - accuracy: 0.0000e+00
Epoch 43/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0064 - accuracy: 0.0000e+00
Epoch 44/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0156 - accuracy: 0.0000e+00
Epoch 45/100
1/1 [==============================] - 0s 23ms/step - loss: 0.0246 - accuracy: 0.0000e+00
Epoch 46/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0269 - accuracy: 0.0000e+00
Epoch 47/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0285 - accuracy: 0.0000e+00
Epoch 48/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0270 - accuracy: 0.0000e+00
Epoch 49/100
1/1 [==============================] - 0s 9ms/step - loss: 0.0229 - accuracy: 0.0000e+00
Epoch 50/100
1/1 [==============================] - 0s 25ms/step - loss: 0.0195 - accuracy: 0.0000e+00
Epoch 51/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0128 - accuracy: 0.0000e+00
Epoch 52/100
1/1 [==============================] - 0s 9ms/step - loss: 0.0078 - accuracy: 0.0000e+00
Epoch 53/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0112 - accuracy: 0.0000e+00
Epoch 54/100
1/1 [==============================] - 0s 11ms/step - loss: 0.0129 - accuracy: 0.0000e+00
Epoch 55/100
1/1 [==============================] - 0s 17ms/step - loss: 0.0144 - accuracy: 0.0000e+00
Epoch 56/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0113 - accuracy: 0.0000e+00
Epoch 57/100
1/1 [==============================] - 0s 10ms/step - loss: 0.0067 - accuracy: 0.0000e+00
Epoch 58/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0101 - accuracy: 0.0000e+00
Epoch 59/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0103 - accuracy: 0.0000e+00
Epoch 60/100
1/1 [==============================] - 0s 28ms/step - loss: 0.0127 - accuracy: 0.0000e+00
Epoch 61/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0132 - accuracy: 0.0000e+00
Epoch 62/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0091 - accuracy: 0.0000e+00
Epoch 63/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0115 - accuracy: 0.0000e+00
Epoch 64/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0106 - accuracy: 0.0000e+00
Epoch 65/100
1/1 [==============================] - 0s 22ms/step - loss: 0.0102 - accuracy: 0.0000e+00
Epoch 66/100
1/1 [==============================] - 0s 13ms/step - loss: 0.0102 - accuracy: 0.0000e+00
Epoch 67/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0080 - accuracy: 0.0000e+00
Epoch 68/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0069 - accuracy: 0.0000e+00
Epoch 69/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0062 - accuracy: 0.0000e+00
Epoch 70/100
1/1 [==============================] - 0s 22ms/step - loss: 0.0067 - accuracy: 0.0000e+00
Epoch 71/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0050 - accuracy: 0.0000e+00
Epoch 72/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0057 - accuracy: 0.0000e+00
Epoch 73/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0074 - accuracy: 0.0000e+00
Epoch 74/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0087 - accuracy: 0.0000e+00
Epoch 75/100
1/1 [==============================] - 0s 28ms/step - loss: 0.0055 - accuracy: 0.0000e+00
Epoch 76/100
1/1 [==============================] - 0s 10ms/step - loss: 0.0054 - accuracy: 0.0000e+00
Epoch 77/100
1/1 [==============================] - 0s 12ms/step - loss: 0.0052 - accuracy: 0.0000e+00
Epoch 78/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0030 - accuracy: 0.0000e+00
Epoch 79/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0054 - accuracy: 0.0000e+00
Epoch 80/100
1/1 [==============================] - 0s 22ms/step - loss: 0.0079 - accuracy: 0.0000e+00
Epoch 81/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0042 - accuracy: 0.0000e+00
Epoch 82/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0090 - accuracy: 0.0000e+00
Epoch 83/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0104 - accuracy: 0.0000e+00
Epoch 84/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0083 - accuracy: 0.0000e+00
Epoch 85/100
1/1 [==============================] - 0s 22ms/step - loss: 0.0033 - accuracy: 0.0000e+00
Epoch 86/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0048 - accuracy: 0.0000e+00
Epoch 87/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0052 - accuracy: 0.0000e+00
Epoch 88/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0070 - accuracy: 0.0000e+00
Epoch 89/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0064 - accuracy: 0.0000e+00
Epoch 90/100
1/1 [==============================] - 0s 23ms/step - loss: 0.0054 - accuracy: 0.0000e+00
Epoch 91/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0060 - accuracy: 0.0000e+00
Epoch 92/100
1/1 [==============================] - 0s 11ms/step - loss: 0.0078 - accuracy: 0.0000e+00
Epoch 93/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0049 - accuracy: 0.0000e+00
Epoch 94/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0014 - accuracy: 0.0000e+00
Epoch 95/100
1/1 [==============================] - 0s 22ms/step - loss: 0.0044 - accuracy: 0.0000e+00
Epoch 96/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0031 - accuracy: 0.0000e+00
Epoch 97/100
1/1 [==============================] - 0s 8ms/step - loss: 0.0050 - accuracy: 0.0000e+00
Epoch 98/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0056 - accuracy: 0.0000e+00
Epoch 99/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0057 - accuracy: 0.0000e+00
Epoch 100/100
1/1 [==============================] - 0s 23ms/step - loss: 0.0019 - accuracy: 0.0000e+00

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1/1 - 0s - loss: 0.5036 - accuracy: 0.0000e+00
Loss: 0.5035684108734131, Accuracy: 0.0

In [36]:
#Save 
nn.save('COVID_Vax_Predictions.h5')