### Preprocessing

In [110]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import LinearRegression

#  Import and read the charity_data.csv.
import pandas as pd 
vax_df = pd.read_csv("sample_data/New_York_State_Statewide_COVID-19_Vaccination_Data_by_County.csv")
demo_df = pd.read_csv("sample_data/Full_2020PL_noblocks.csv")
vax_df.head()
demo_df.head()

  FILEID STUSAB  SUMLEV GEOVAR  ...  P0020070  P0020071  P0020072  P0020073
0   PLST     NY      50      0  ...         0         0         0         0
1   PLST     NY      50      0  ...         0         0         0         0
2   PLST     NY      50      0  ...         0         0         4         4
3   PLST     NY      50      0  ...         0         0         0         0
4   PLST     NY      50      0  ...         0         1         0         0

[5 rows x 241 columns]

In [111]:
# Drop rows unneccesary columns
columns_to_drop = ['COUNTY','FILEID', 'STUSAB', 'SUMLEV', 'GEOVAR', 'GEOCOMP', 'CHARITER', 'CIFSN', 'LOGRECNO', 'GEOID', 'GEOCODE', 'REGION', 'DIVISION', 'STATE', 'STATENS', 'COUNTYCC', 'COUNTYNS', 'COUSUB', 'COUSUBCC', 'COUSUBNS', 'SUBMCD', 'SUBMCDCC', 'SUBMCDNS', 'ESTATE', 'ESTATECC', 'ESTATENS', 'CONCIT', 'CONCITCC', 'CONCITNS', 'PLACE', 'PLACECC', 'PLACENS', 'TRACT', 'BLKGRP', 'BLOCK', 'AIANHH', 'AIHHTLI', 'AIANHHFP', 'AIANHHCC', 'AIANHHNS', 'AITS', 'AITSFP', 'AITSCC', 'AITSNS', 'TTRACT', 'TBLKGRP', 'ANRC', 'ANRCCC', 'ANRCNS', 'CBSA', 'MEMI', 'CSA', 'METDIV', 'NECTA', 'NMEMI', 'CNECTA', 'NECTADIV', 'CBSAPCI', 'NECTAPCI', 'UA', 'UATYPE', 'UR', 'CD116', 'CD118', 'CD119', 'CD120', 'CD121', 'SLDU18', 'SLDU22', 'SLDU24', 'SLDU26', 'SLDU28', 'SLDL18', 'SLDL22', 'SLDL24', 'SLDL26', 'SLDL28', 'VTD', 'VTDI', 'ZCTA', 'SDELM', 'SDSEC', 'SDUNI', 'PUMA', 'AREALAND', 'AREAWATR', 'NAME', 'FUNCSTAT', 'GCUNI', 'HU100', 'INTPTLAT', 'INTPTLON', 'LSADC', 'PARTFLAG', 'UGA']
demo_df = demo_df.drop(columns_to_drop, axis=1)

# Rename county column
demo_df.rename(columns={'BASENAME': 'County'}, inplace=True)

# Drop rows with NA
demo_df = demo_df.dropna()
demo_df = demo_df.loc[demo_df['County'] != 'County subdivisions not defined']

demo_df

           County   POP100  P0010001  ...  P0020071  P0020072  P0020073
0          Albany   314848    314848  ...         0         0         0
1        Allegany    46456     46456  ...         0         0         0
2           Bronx  1472654   1472654  ...         0         4         4
3          Broome   198683    198683  ...         0         0         0
4     Cattaraugus    77042     77042  ...         1         0         0
...           ...      ...       ...  ...       ...       ...       ...
1895     Allegany    46456     46456  ...         0         0         0
1896  Cattaraugus    77042     77042  ...         1         0         0
1897      Steuben     3555      3555  ...         0         0         0
1898         Erie   137195    137195  ...         0         0         0
1899   Chautauqua   127657    127657  ...         0         2         2

[1870 rows x 146 columns]

In [112]:
#Remove unnecessary columns
vax_df = vax_df.drop(['Region', 'First Dose'], axis=1)

# Keep most recent dates
vax_df = pd.DataFrame(vax_df.loc[vax_df['Report as of'] == '2021-10-22'])

vax_df

            County  Series Complete Report as of
19344       Albany           204365   2021-10-22
19345     Allegany            18673   2021-10-22
19346        Bronx           857631   2021-10-22
19347       Broome           113433   2021-10-22
19348  Cattaraugus            34875   2021-10-22
...            ...              ...          ...
19401   Washington            35067   2021-10-22
19402        Wayne            53418   2021-10-22
19403  Westchester           671155   2021-10-22
19404      Wyoming            19245   2021-10-22
19405        Yates            11880   2021-10-22

[62 rows x 3 columns]

In [113]:
# join files
df = demo_df.merge(vax_df, how='inner',on='County')
df.head()

   County  POP100  P0010001  ...  P0020073  Series Complete  Report as of
0  Albany  314848    314848  ...         0           204365    2021-10-22
1  Albany   99224     99224  ...         0           204365    2021-10-22
2  Albany    1675      1675  ...         0           204365    2021-10-22
3  Albany   18147     18147  ...         0           204365    2021-10-22
4  Albany    7781      7781  ...         0           204365    2021-10-22

[5 rows x 148 columns]

In [114]:
# Calculate Vax Rate
df['Vax_Rate'] = (df['Series Complete'] / df['POP100']) * 100
df['Vax_Rate'] = df['Vax_Rate'].round()
df['Vax_Rate'] = df['Vax_Rate'].mask(df['Vax_Rate']>100,100).astype('int64')

In [115]:
df['Vax_Rate'].unique()

array([ 65, 100,  81,  40,  58,  57,  85,  45,  54,  80,  51,  48,  55,
        79,  72,  63,  61,  53,  82,  50,  90,  99,  60,  86,  62,  46,
        56,  98,  67,  59,  70,  71,  92,  88,  83,  49,  89,  66,  91,
        64,  87,  69,  93,  52,  97,  47])

In [116]:
# Drop the non-beneficial columns, County, First Dose, Series Complete, Report as of, Location
df = df.drop(['County', 'Report as of'], axis=1)

df.head()

   POP100  P0010001  P0010002  ...  P0020073  Series Complete  Vax_Rate
0  314848    314848    293076  ...         0           204365        65
1   99224     99224     91331  ...         0           204365       100
2    1675      1675      1565  ...         0           204365       100
3   18147     18147     16689  ...         0           204365       100
4    7781      7781      7276  ...         0           204365       100

[5 rows x 147 columns]

In [117]:
# Check all values are numeric
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1870 entries, 0 to 1869
Columns: 147 entries, POP100 to Vax_Rate
dtypes: int64(147)
memory usage: 2.1 MB

In [118]:
# Export to CSV for multiple regression
df.to_csv('sample_data/clean_df.csv')

In [119]:
# Try only pulling in total pop and primary race info
df = df[['POP100',	'P0010001',	'P0010002',	'P0010003',	'P0010004',	'P0010005',	'P0010006', 'P0010007',	'P0010008',	'P0010009', 'Vax_Rate']]

In [120]:
# Split our preprocessed data into our features and target arrays
y = df["Vax_Rate"].values
X = df.drop(["Vax_Rate"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [121]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Linear Regression

In [122]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [123]:
y_pred = model.predict(X_test)
print(y_pred.shape)

(468,)

In [124]:
print(model.coef_)
print(model.intercept_)

[-3.44167747e+08  6.58648990e+08 -2.12383894e+08 -1.02097349e+08
 -1.02097349e+08 -1.02097349e+08 -1.02097349e+08 -1.02097349e+08
 -1.02097349e+08 -3.14481243e+08]
97.81336381070385

### Neural Network

In [161]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, 
                             activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_20"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_60 (Dense)             (None, 100)               1100
_________________________________________________________________
dense_61 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_62 (Dense)             (None, 1)                 101
=================================================================
Total params: 11,301
Trainable params: 11,301
Non-trainable params: 0
_________________________________________________________________

In [162]:
# Compile the model
nn.compile(loss="mean_absolute_error", 
           optimizer="adam")

In [163]:
# Create a callback that saves the model's weights every 5 epochs
callbacks = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
                                     save_weights_only=True, save_freq=5)

In [166]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=200, callbacks=[callbacks])

Epoch 1/200
44/44 [==============================] - 0s 3ms/step - loss: 2.8654
Epoch 2/200
44/44 [==============================] - 0s 3ms/step - loss: 2.8786
Epoch 3/200
44/44 [==============================] - 0s 3ms/step - loss: 2.8675
Epoch 4/200
44/44 [==============================] - 0s 4ms/step - loss: 2.8325
Epoch 5/200
44/44 [==============================] - 0s 3ms/step - loss: 2.8456
Epoch 6/200
44/44 [==============================] - 0s 3ms/step - loss: 2.8602
Epoch 7/200
44/44 [==============================] - 0s 4ms/step - loss: 2.8351
Epoch 8/200
44/44 [==============================] - 0s 3ms/step - loss: 2.8229
Epoch 9/200
44/44 [==============================] - 0s 4ms/step - loss: 2.8139
Epoch 10/200
44/44 [==============================] - 0s 3ms/step - loss: 2.8339
Epoch 11/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7970
Epoch 12/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7940
Epoch 13/200
44/44 [==============================] - 0s 4ms/step - loss: 2.8111
Epoch 14/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7897
Epoch 15/200
44/44 [==============================] - 0s 3ms/step - loss: 2.8022
Epoch 16/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7729
Epoch 17/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7765
Epoch 18/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7921
Epoch 19/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7482
Epoch 20/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7797
Epoch 21/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7636
Epoch 22/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7441
Epoch 23/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7462
Epoch 24/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7261
Epoch 25/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7353
Epoch 26/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7369
Epoch 27/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7333
Epoch 28/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7442
Epoch 29/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7073
Epoch 30/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7028
Epoch 31/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7015
Epoch 32/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7133
Epoch 33/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6936
Epoch 34/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7067
Epoch 35/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6843
Epoch 36/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6974
Epoch 37/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6795
Epoch 38/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7055
Epoch 39/200
44/44 [==============================] - 0s 3ms/step - loss: 2.7072
Epoch 40/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6727
Epoch 41/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6966
Epoch 42/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7091
Epoch 43/200
44/44 [==============================] - 0s 4ms/step - loss: 2.7135
Epoch 44/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6558
Epoch 45/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6592
Epoch 46/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6680
Epoch 47/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6757
Epoch 48/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6790
Epoch 49/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6401
Epoch 50/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6754
Epoch 51/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6379
Epoch 52/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6155
Epoch 53/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6359
Epoch 54/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6246
Epoch 55/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6280
Epoch 56/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6214
Epoch 57/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6193
Epoch 58/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6360
Epoch 59/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6231
Epoch 60/200
44/44 [==============================] - 0s 5ms/step - loss: 2.6043
Epoch 61/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6470
Epoch 62/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6518
Epoch 63/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5994
Epoch 64/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6169
Epoch 65/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6261
Epoch 66/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6193
Epoch 67/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6251
Epoch 68/200
44/44 [==============================] - 0s 4ms/step - loss: 2.6028
Epoch 69/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5999
Epoch 70/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5872
Epoch 71/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6081
Epoch 72/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6072
Epoch 73/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5794
Epoch 74/200
44/44 [==============================] - 0s 3ms/step - loss: 2.6032
Epoch 75/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5947
Epoch 76/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5915
Epoch 77/200
44/44 [==============================] - 0s 5ms/step - loss: 2.5840
Epoch 78/200
44/44 [==============================] - 0s 5ms/step - loss: 2.5926
Epoch 79/200
44/44 [==============================] - 0s 5ms/step - loss: 2.5805
Epoch 80/200
44/44 [==============================] - 0s 5ms/step - loss: 2.5750
Epoch 81/200
44/44 [==============================] - 0s 5ms/step - loss: 2.5733
Epoch 82/200
44/44 [==============================] - 0s 5ms/step - loss: 2.5485
Epoch 83/200
44/44 [==============================] - 0s 5ms/step - loss: 2.5525
Epoch 84/200
44/44 [==============================] - 0s 5ms/step - loss: 2.5473
Epoch 85/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5642
Epoch 86/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5781
Epoch 87/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5848
Epoch 88/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5518
Epoch 89/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5586
Epoch 90/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5605
Epoch 91/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5476
Epoch 92/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5642
Epoch 93/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5453
Epoch 94/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5178
Epoch 95/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5326
Epoch 96/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5364
Epoch 97/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5232
Epoch 98/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5472
Epoch 99/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5136
Epoch 100/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5046
Epoch 101/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5182
Epoch 102/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5413
Epoch 103/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5327
Epoch 104/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4982
Epoch 105/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5018
Epoch 106/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5317
Epoch 107/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5294
Epoch 108/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4901
Epoch 109/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4821
Epoch 110/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5348
Epoch 111/200
44/44 [==============================] - 0s 3ms/step - loss: 2.5066
Epoch 112/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4749
Epoch 113/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4838
Epoch 114/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4871
Epoch 115/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4816
Epoch 116/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4837
Epoch 117/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4774
Epoch 118/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5462
Epoch 119/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4817
Epoch 120/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4736
Epoch 121/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4725
Epoch 122/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4642
Epoch 123/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4649
Epoch 124/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4732
Epoch 125/200
44/44 [==============================] - 0s 5ms/step - loss: 2.4696
Epoch 126/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4636
Epoch 127/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4662
Epoch 128/200
44/44 [==============================] - 0s 4ms/step - loss: 2.5034
Epoch 129/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4846
Epoch 130/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4481
Epoch 131/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4589
Epoch 132/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4878
Epoch 133/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4521
Epoch 134/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4542
Epoch 135/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4821
Epoch 136/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4375
Epoch 137/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4496
Epoch 138/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4412
Epoch 139/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4565
Epoch 140/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4367
Epoch 141/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4306
Epoch 142/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4384
Epoch 143/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4477
Epoch 144/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4386
Epoch 145/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4551
Epoch 146/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4329
Epoch 147/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4146
Epoch 148/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4268
Epoch 149/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4341
Epoch 150/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4169
Epoch 151/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4538
Epoch 152/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4191
Epoch 153/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4227
Epoch 154/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4328
Epoch 155/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4192
Epoch 156/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4029
Epoch 157/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4169
Epoch 158/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3933
Epoch 159/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4088
Epoch 160/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4169
Epoch 161/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3958
Epoch 162/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4078
Epoch 163/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3927
Epoch 164/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4163
Epoch 165/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4017
Epoch 166/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4768
Epoch 167/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4133
Epoch 168/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4002
Epoch 169/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4168
Epoch 170/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4211
Epoch 171/200
44/44 [==============================] - 0s 3ms/step - loss: 2.3878
Epoch 172/200
44/44 [==============================] - 0s 3ms/step - loss: 2.3765
Epoch 173/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4010
Epoch 174/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4052
Epoch 175/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3980
Epoch 176/200
44/44 [==============================] - 0s 3ms/step - loss: 2.3825
Epoch 177/200
44/44 [==============================] - 0s 3ms/step - loss: 2.3834
Epoch 178/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4038
Epoch 179/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3895
Epoch 180/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3985
Epoch 181/200
44/44 [==============================] - 0s 3ms/step - loss: 2.4091
Epoch 182/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3773
Epoch 183/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3746
Epoch 184/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3790
Epoch 185/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3977
Epoch 186/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3899
Epoch 187/200
44/44 [==============================] - 0s 4ms/step - loss: 2.4056
Epoch 188/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3766
Epoch 189/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3765
Epoch 190/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3951
Epoch 191/200
44/44 [==============================] - 0s 3ms/step - loss: 2.3934
Epoch 192/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3746
Epoch 193/200
44/44 [==============================] - 0s 3ms/step - loss: 2.3712
Epoch 194/200
44/44 [==============================] - 0s 3ms/step - loss: 2.3568
Epoch 195/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3531
Epoch 196/200
44/44 [==============================] - 0s 3ms/step - loss: 2.3961
Epoch 197/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3752
Epoch 198/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3584
Epoch 199/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3711
Epoch 200/200
44/44 [==============================] - 0s 4ms/step - loss: 2.3426

In [167]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}")

15/15 [==============================] - 0s 1ms/step - loss: 2.3177
Loss: 2.3176729679107666

In [160]:
#Save 
nn.save('COVID_Vax_Predictions.h5')