### Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import LinearRegression

#  Import and read the charity_data.csv.
import pandas as pd 
vax_df = pd.read_csv("sample_data/county_data.csv")
demo_df = pd.read_csv("sample_data/NYS_demographics")
income_df = pd.read_csv("sample_data/NYS_income")
vax_df.head()
demo_df.head()
income_df.head()

   index County / County Group  ...   Education Level Head of Household Age
0      0                Albany  ...  3 - Some College                   <30
1      1                Albany  ...   4 - Associate's                   70+
2      2                Albany  ...   4 - Associate's                   <30
3      3                Albany  ...  3 - Some College                   <30
4      4                Albany  ...    5 - Bachelor's                   70+

[5 rows x 13 columns]

In [2]:
#Only keep necessary columns
vax_df = vax_df[['county','population','metrics.vaccinationsCompletedRatio']]

#Drop rows with NA
vax_df = vax_df.dropna()

#Clean county names
vax_df['county'] = vax_df['county'].str.replace(' County', '')

#Rename columns
vax_df.columns = ['County', 'Total_Pop', 'Vax_Rate']

#Drop duplicate rows
vax_df.drop_duplicates()

vax_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   County     62 non-null     object
 1   Total_Pop  62 non-null     int64
 2   Vax_Rate   62 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.9+ KB

In [3]:
#Only keep necessary columns
demo_df = demo_df[['County', 'White', 'AfricanAmerican', 'Asian', 'Other']]

#Drop rows with NA
demo_df = demo_df.dropna()

#Clean percentages
demo_df['White'] = demo_df['White'].str.replace('%', '').astype(float)
demo_df['AfricanAmerican'] = demo_df['AfricanAmerican'].str.replace('%', '').astype(float)
demo_df['Asian'] = demo_df['Asian'].str.replace('%', '').astype(float)
demo_df['Other'] = demo_df['Other'].str.replace('%', '').astype(float)

demo_df.head()

       County  White  AfricanAmerican  Asian  Other
1      Albany   77.8             13.2    6.6    2.5
2    Columbia   91.1              5.1    1.9    2.0
3      Greene   90.2              6.4    1.3    2.1
4  Rensselaer   87.8              7.2    2.8    2.2
5    Saratoga   93.6              1.9    2.7    1.7

In [4]:
# Drop non-beneficial columns
income_df = income_df.drop(['index','Economic Development Region', 'LMI Population Segment', 'Race / Ethnicity'], axis=1)

#Drop rows with NA
income_df = income_df.dropna()

#Recode categorical features
income_cat = ['Households with Elderly',
       'Households with Children', 'Income Groups', 'Percent of Poverty Level',
       'Low-to-Moderate Income (LMI) Group', 'Housing Unit Type',
       'Education Level', 'Head of Household Age']

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(income_df[income_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(income_cat)

# Merge one-hot encoded features and drop the originals
income_df = income_df.merge(encode_df,left_index=True, 
                                  right_index=True)
income_df = income_df.drop(income_cat,1)

#Rename County
income_df.rename(columns={'County / County Group':'County'}, inplace=True)

#Group by county
income_df = income_df.groupby('County').sum()
income_df.head()

                                     Households with Elderly_No  ...  Head of Household Age_<30
County                                                           ...
Albany                                                   4142.0  ...                      712.0
Bronx                                                   14442.0  ...                     2086.0
Broome, Chenango, Delaware, & Tioga                      5834.0  ...                      736.0
Cattaraugus & Allegany                                   3790.0  ...                      546.0
Cayuga & Onondaga                                        9460.0  ...                     1440.0

[5 rows x 36 columns]

In [5]:
# join files
df_1 = vax_df.merge(income_df, how='inner',on='County')
df = df_1.merge(demo_df, how='inner', on='County')
df

          County  Total_Pop  Vax_Rate  ...  AfricanAmerican  Asian  Other
0         Albany     305506     0.672  ...             13.2    6.6    2.5
1         Albany     305506     0.672  ...             13.2    6.6    2.5
2          Bronx    1418207     0.614  ...             43.7    4.7    6.8
3          Bronx    1418207     0.614  ...             43.7    4.7    6.8
4     Chautauqua     126903     0.530  ...              2.8    0.7    2.2
5     Chautauqua     126903     0.530  ...              2.8    0.7    2.2
6       Dutchess     294218     0.626  ...             11.7    3.7    2.5
7       Dutchess     294218     0.626  ...             11.7    3.7    2.5
8           Erie     918702     0.625  ...             13.1    3.6    2.2
9           Erie     918702     0.625  ...             13.1    3.6    2.2
10         Kings    2559903     0.601  ...             34.4   13.0    3.3
11         Kings    2559903     0.601  ...             34.4   13.0    3.3
12        Monroe     741770     0.651  ...             15.0    3.6    2.4
13        Monroe     741770     0.651  ...             15.0    3.6    2.4
14        Nassau    1356924     0.718  ...             13.1   10.7    2.2
15        Nassau    1356924     0.718  ...             13.1   10.7    2.2
16      New York    1628706     0.741  ...             17.3   13.2    4.2
17      New York    1628706     0.741  ...             17.3   13.2    4.2
18       Niagara     209281     0.602  ...              6.8    1.1    2.9
19       Niagara     209281     0.602  ...              6.8    1.1    2.9
20        Orange     384940     0.589  ...             13.3    3.1    3.3
21        Orange     384940     0.589  ...             13.3    3.1    3.3
22        Oswego     117124     0.540  ...              1.2    0.7    1.7
23        Oswego     117124     0.540  ...              1.2    0.7    1.7
24        Putnam      98320     0.658  ...              3.9    2.3    2.0
25        Putnam      98320     0.658  ...              3.9    2.3    2.0
26        Queens    2253858     0.742  ...             20.7   27.4    4.0
27        Queens    2253858     0.742  ...             20.7   27.4    4.0
28    Rensselaer     158714     0.636  ...              7.2    2.8    2.2
29    Rensselaer     158714     0.636  ...              7.2    2.8    2.2
30      Richmond     476143     0.634  ...             11.0   11.1    2.4
31      Richmond     476143     0.634  ...             11.0   11.1    2.4
32      Rockland     325789     0.568  ...             13.9    6.9    2.4
33      Rockland     325789     0.568  ...             13.9    6.9    2.4
34  St. Lawrence     107740     0.551  ...              2.8    1.1    2.3
35  St. Lawrence     107740     0.551  ...              2.8    1.1    2.3
36      Saratoga     229863     0.714  ...              1.9    2.7    1.7
37      Saratoga     229863     0.714  ...              1.9    2.7    1.7
38   Schenectady     155299     0.649  ...             11.6    4.9    3.8
39   Schenectady     155299     0.649  ...             11.6    4.9    3.8
40       Suffolk    1476601     0.677  ...              8.5    4.3    2.2
41       Suffolk    1476601     0.677  ...              8.5    4.3    2.2
42      Tompkins     102180     0.714  ...              4.3   10.8    3.3
43      Tompkins     102180     0.714  ...              4.3   10.8    3.3
44   Westchester     967506     0.705  ...             16.7    6.5    3.1
45   Westchester     967506     0.705  ...             16.7    6.5    3.1

[46 rows x 43 columns]

In [6]:
# Drop county
df = df.drop(['County'], axis=1)

In [7]:
# Check all values are numeric
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 42 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Total_Pop                                                     46 non-null     int64
 1   Vax_Rate                                                      46 non-null     float64
 2   Households with Elderly_No                                    46 non-null     float64
 3   Households with Elderly_Yes                                   46 non-null     float64
 4   Households with Children_No                                   46 non-null     float64
 5   Households with Children_Yes                                  46 non-null     float64
 6   Income Groups_$0 to <$10,000                                  46 non-null     float64
 7   Income Groups_$10,000-<$20,000                                46 non-null     float64
 8   Income Groups_$20,000-<$30,000                                46 non-null     float64
 9   Income Groups_$30,000-<$40,000                                46 non-null     float64
 10  Income Groups_$40,000-<$50,000                                46 non-null     float64
 11  Income Groups_$50,000+                                        46 non-null     float64
 12  Percent of Poverty Level_1 - Income at or below 100% HHSPG    46 non-null     float64
 13  Percent of Poverty Level_2 - Income 101%-150% HHSPG           46 non-null     float64
 14  Percent of Poverty Level_3 - Income 151%-200% HHSPG           46 non-null     float64
 15  Percent of Poverty Level_4 - Income 201% HHSPG or more        46 non-null     float64
 16  Low-to-Moderate Income (LMI) Group_Group 1 - Very Low Income  46 non-null     float64
 17  Low-to-Moderate Income (LMI) Group_Group 2 - Low Income       46 non-null     float64
 18  Low-to-Moderate Income (LMI) Group_Group 3 - Moderate Income  46 non-null     float64
 19  Low-to-Moderate Income (LMI) Group_Non-LMI Household          46 non-null     float64
 20  Housing Unit Type_1 - Single Family Attached                  46 non-null     float64
 21  Housing Unit Type_2 - Single Family Detached                  46 non-null     float64
 22  Housing Unit Type_3 - Small Multi-Family (2-4 units)          46 non-null     float64
 23  Housing Unit Type_4 - Moderate Multi-Family (5-50 units)      46 non-null     float64
 24  Housing Unit Type_5 - Large Multi-Family (50+ units)          46 non-null     float64
 25  Housing Unit Type_6 - Mobile Homes & Other                    46 non-null     float64
 26  Education Level_1 - Less than High School Diploma             46 non-null     float64
 27  Education Level_2 - High School Diploma                       46 non-null     float64
 28  Education Level_3 - Some College                              46 non-null     float64
 29  Education Level_4 - Associate's                               46 non-null     float64
 30  Education Level_5 - Bachelor's                                46 non-null     float64
 31  Education Level_6 - Graduate Degree                           46 non-null     float64
 32  Head of Household Age_30-39                                   46 non-null     float64
 33  Head of Household Age_40-49                                   46 non-null     float64
 34  Head of Household Age_50-59                                   46 non-null     float64
 35  Head of Household Age_60-69                                   46 non-null     float64
 36  Head of Household Age_70+                                     46 non-null     float64
 37  Head of Household Age_<30                                     46 non-null     float64
 38  White                                                         46 non-null     float64
 39  AfricanAmerican                                               46 non-null     float64
 40  Asian                                                         46 non-null     float64
 41  Other                                                         46 non-null     float64
dtypes: float64(41), int64(1)
memory usage: 15.5 KB

Index(['Total_Pop', 'Vax_Rate', 'Households with Elderly_No',
       'Households with Elderly_Yes', 'Households with Children_No',
       'Households with Children_Yes', 'Income Groups_$0 to <$10,000',
       'Income Groups_$10,000-<$20,000', 'Income Groups_$20,000-<$30,000',
       'Income Groups_$30,000-<$40,000', 'Income Groups_$40,000-<$50,000',
       'Income Groups_$50,000+',
       'Percent of Poverty Level_1 - Income at or below 100% HHSPG',
       'Percent of Poverty Level_2 - Income 101%-150% HHSPG',
       'Percent of Poverty Level_3 - Income 151%-200% HHSPG',
       'Percent of Poverty Level_4 - Income 201% HHSPG or more',
       'Low-to-Moderate Income (LMI) Group_Group 1 - Very Low Income',
       'Low-to-Moderate Income (LMI) Group_Group 2 - Low Income',
       'Low-to-Moderate Income (LMI) Group_Group 3 - Moderate Income',
       'Low-to-Moderate Income (LMI) Group_Non-LMI Household',
       'Housing Unit Type_1 - Single Family Attached',
       'Housing Unit Type_2 - Single Family Detached',
       'Housing Unit Type_3 - Small Multi-Family (2-4 units)',
       'Housing Unit Type_4 - Moderate Multi-Family (5-50 units)',
       'Housing Unit Type_5 - Large Multi-Family (50+ units)',
       'Housing Unit Type_6 - Mobile Homes & Other',
       'Education Level_1 - Less than High School Diploma',
       'Education Level_2 - High School Diploma',
       'Education Level_3 - Some College', 'Education Level_4 - Associate's',
       'Education Level_5 - Bachelor's', 'Education Level_6 - Graduate Degree',
       'Head of Household Age_30-39', 'Head of Household Age_40-49',
       'Head of Household Age_50-59', 'Head of Household Age_60-69',
       'Head of Household Age_70+', 'Head of Household Age_<30', 'White',
       'AfricanAmerican', 'Asian', 'Other'],
      dtype='object')

In [8]:
# Export to CSV for multiple regression
df.to_csv('sample_data/clean_df.csv')

In [9]:
# Split our preprocessed data into our features and target arrays
y = df["Vax_Rate"].values
X = df.drop(["Vax_Rate"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Neural Network

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, 
                             activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               4200
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 101
=================================================================
Total params: 14,401
Trainable params: 14,401
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="mean_absolute_error", 
           optimizer="adam")

In [13]:
# Create a callback that saves the model's weights every 5 epochs
callbacks = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
                                     save_weights_only=True, save_freq=5)

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[callbacks])

Epoch 1/100
2/2 [==============================] - 1s 6ms/step - loss: 1.3370
Epoch 2/100
2/2 [==============================] - 0s 5ms/step - loss: 0.6161
Epoch 3/100
2/2 [==============================] - 0s 23ms/step - loss: 0.2145
Epoch 4/100
2/2 [==============================] - 0s 9ms/step - loss: 0.3390
Epoch 5/100
2/2 [==============================] - 0s 17ms/step - loss: 0.3768
Epoch 6/100
2/2 [==============================] - 0s 8ms/step - loss: 0.3180
Epoch 7/100
2/2 [==============================] - 0s 9ms/step - loss: 0.3043
Epoch 8/100
2/2 [==============================] - 0s 16ms/step - loss: 0.4042
Epoch 9/100
2/2 [==============================] - 0s 4ms/step - loss: 0.3492
Epoch 10/100
2/2 [==============================] - 0s 14ms/step - loss: 0.2440
Epoch 11/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1774
Epoch 12/100
2/2 [==============================] - 0s 6ms/step - loss: 0.2383
Epoch 13/100
2/2 [==============================] - 0s 30ms/step - loss: 0.2884
Epoch 14/100
2/2 [==============================] - 0s 7ms/step - loss: 0.2655
Epoch 15/100
2/2 [==============================] - 0s 15ms/step - loss: 0.2089
Epoch 16/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1499
Epoch 17/100
2/2 [==============================] - 0s 6ms/step - loss: 0.1318
Epoch 18/100
2/2 [==============================] - 0s 21ms/step - loss: 0.1953
Epoch 19/100
2/2 [==============================] - 0s 11ms/step - loss: 0.1705
Epoch 20/100
2/2 [==============================] - 0s 20ms/step - loss: 0.1213
Epoch 21/100
2/2 [==============================] - 0s 9ms/step - loss: 0.1403
Epoch 22/100
2/2 [==============================] - 0s 11ms/step - loss: 0.1416
Epoch 23/100
2/2 [==============================] - 0s 14ms/step - loss: 0.1202
Epoch 24/100
2/2 [==============================] - 0s 18ms/step - loss: 0.1342
Epoch 25/100
2/2 [==============================] - 0s 18ms/step - loss: 0.1735
Epoch 26/100
2/2 [==============================] - 0s 9ms/step - loss: 0.1716
Epoch 27/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1441
Epoch 28/100
2/2 [==============================] - 0s 20ms/step - loss: 0.1661
Epoch 29/100
2/2 [==============================] - 0s 8ms/step - loss: 0.2028
Epoch 30/100
2/2 [==============================] - 0s 16ms/step - loss: 0.1861
Epoch 31/100
2/2 [==============================] - 0s 6ms/step - loss: 0.1285
Epoch 32/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1749
Epoch 33/100
2/2 [==============================] - 0s 17ms/step - loss: 0.1619
Epoch 34/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0938
Epoch 35/100
2/2 [==============================] - 0s 17ms/step - loss: 0.0808
Epoch 36/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0893
Epoch 37/100
2/2 [==============================] - 0s 9ms/step - loss: 0.1044
Epoch 38/100
2/2 [==============================] - 0s 19ms/step - loss: 0.0961
Epoch 39/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0943
Epoch 40/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0953
Epoch 41/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1076
Epoch 42/100
2/2 [==============================] - 0s 10ms/step - loss: 0.0969
Epoch 43/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0945
Epoch 44/100
2/2 [==============================] - 0s 9ms/step - loss: 0.1372
Epoch 45/100
2/2 [==============================] - 0s 15ms/step - loss: 0.1339
Epoch 46/100
2/2 [==============================] - 0s 20ms/step - loss: 0.1079
Epoch 47/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1258
Epoch 48/100
2/2 [==============================] - 0s 17ms/step - loss: 0.1170
Epoch 49/100
2/2 [==============================] - 0s 13ms/step - loss: 0.0932
Epoch 50/100
2/2 [==============================] - 0s 23ms/step - loss: 0.0699
Epoch 51/100
2/2 [==============================] - 0s 8ms/step - loss: 0.1004
Epoch 52/100
2/2 [==============================] - 0s 8ms/step - loss: 0.1045
Epoch 53/100
2/2 [==============================] - 0s 20ms/step - loss: 0.1053
Epoch 54/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0877
Epoch 55/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0956
Epoch 56/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1106
Epoch 57/100
2/2 [==============================] - 0s 8ms/step - loss: 0.1074
Epoch 58/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0941
Epoch 59/100
2/2 [==============================] - 0s 9ms/step - loss: 0.0792
Epoch 60/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0950
Epoch 61/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0742
Epoch 62/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0747
Epoch 63/100
2/2 [==============================] - 0s 17ms/step - loss: 0.1121
Epoch 64/100
2/2 [==============================] - 0s 6ms/step - loss: 0.1270
Epoch 65/100
2/2 [==============================] - 0s 14ms/step - loss: 0.1519
Epoch 66/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1334
Epoch 67/100
2/2 [==============================] - 0s 6ms/step - loss: 0.1147
Epoch 68/100
2/2 [==============================] - 0s 14ms/step - loss: 0.0948
Epoch 69/100
2/2 [==============================] - 0s 10ms/step - loss: 0.0769
Epoch 70/100
2/2 [==============================] - 0s 16ms/step - loss: 0.1416
Epoch 71/100
2/2 [==============================] - 0s 13ms/step - loss: 0.1553
Epoch 72/100
2/2 [==============================] - 0s 6ms/step - loss: 0.1283
Epoch 73/100
2/2 [==============================] - 0s 15ms/step - loss: 0.1142
Epoch 74/100
2/2 [==============================] - 0s 8ms/step - loss: 0.1135
Epoch 75/100
2/2 [==============================] - 0s 16ms/step - loss: 0.1166
Epoch 76/100
2/2 [==============================] - 0s 8ms/step - loss: 0.1134
Epoch 77/100
2/2 [==============================] - 0s 6ms/step - loss: 0.0958
Epoch 78/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0737
Epoch 79/100
2/2 [==============================] - 0s 8ms/step - loss: 0.0979
Epoch 80/100
2/2 [==============================] - 0s 19ms/step - loss: 0.1176
Epoch 81/100
2/2 [==============================] - 0s 8ms/step - loss: 0.1462
Epoch 82/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1537
Epoch 83/100
2/2 [==============================] - 0s 19ms/step - loss: 0.0949
Epoch 84/100
2/2 [==============================] - 0s 7ms/step - loss: 0.0604
Epoch 85/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0850
Epoch 86/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1039
Epoch 87/100
2/2 [==============================] - 0s 7ms/step - loss: 0.1080
Epoch 88/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0942
Epoch 89/100
2/2 [==============================] - 0s 12ms/step - loss: 0.0847
Epoch 90/100
2/2 [==============================] - 0s 25ms/step - loss: 0.0863
Epoch 91/100
2/2 [==============================] - 0s 9ms/step - loss: 0.0828
Epoch 92/100
2/2 [==============================] - 0s 11ms/step - loss: 0.0745
Epoch 93/100
2/2 [==============================] - 0s 20ms/step - loss: 0.0860
Epoch 94/100
2/2 [==============================] - 0s 6ms/step - loss: 0.1037
Epoch 95/100
2/2 [==============================] - 0s 14ms/step - loss: 0.0998
Epoch 96/100
2/2 [==============================] - 0s 4ms/step - loss: 0.0979
Epoch 97/100
2/2 [==============================] - 0s 5ms/step - loss: 0.1086
Epoch 98/100
2/2 [==============================] - 0s 17ms/step - loss: 0.1515
Epoch 99/100
2/2 [==============================] - 0s 6ms/step - loss: 0.1201
Epoch 100/100
2/2 [==============================] - 0s 17ms/step - loss: 0.1041

In [15]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}")

1/1 [==============================] - 0s 110ms/step - loss: 0.0911
Loss: 0.09108620136976242

In [16]:
#Save 
nn.save('COVID_Vax_Predictions.h5')