### Preprocessing

In [119]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import LinearRegression

#  Import and read the charity_data.csv.
import pandas as pd 
vax_df = pd.read_csv("sample_data/county_data.csv")
income_df = pd.read_csv("sample_data/NYS_income")
vax_df = pd.read_csv("sample_data/county_group_vax.csv")
vax_df.head()
income_df.head()

   index County / County Group  ...   Education Level Head of Household Age
0      0                Albany  ...  3 - Some College                   <30
1      1                Albany  ...   4 - Associate's                   70+
2      2                Albany  ...   4 - Associate's                   <30
3      3                Albany  ...  3 - Some College                   <30
4      4                Albany  ...    5 - Bachelor's                   70+

[5 rows x 13 columns]

In [120]:
#Only keep necessary columns
vax_df = vax_df[['county_group','population','metrics.vaccinationsCompletedRatio']]

#Drop rows with NA
vax_df = vax_df.dropna()

#Rename columns
vax_df.columns = ['County', 'Total_Pop', 'Vax_Rate']

vax_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   County     39 non-null     object
 1   Total_Pop  39 non-null     int64
 2   Vax_Rate   39 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ KB

In [121]:
# Drop non-beneficial columns
income_df = income_df.drop(['index','Economic Development Region', 'LMI Population Segment'], axis=1)

#Drop rows with NA
income_df = income_df.dropna()

#Recode categorical features
income_cat = ['Households with Elderly',
       'Households with Children', 'Income Groups', 'Percent of Poverty Level',
       'Low-to-Moderate Income (LMI) Group', 'Housing Unit Type',
       'Education Level', 'Head of Household Age', 'Race / Ethnicity']

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(income_df[income_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(income_cat)

# Merge one-hot encoded features and drop the originals
income_df = income_df.merge(encode_df,left_index=True, 
                                  right_index=True)
income_df = income_df.drop(income_cat,1)

#Rename County
income_df.rename(columns={'County / County Group':'County'}, inplace=True)

#Group by county
income_df = income_df.groupby('County').sum()
income_df.head()

                                     Households with Elderly_No  ...  Race / Ethnicity_White, non-Hispanic
County                                                           ...
Albany                                                   4142.0  ...                                5864.0
Bronx                                                   14442.0  ...                                3744.0
Broome, Chenango, Delaware, & Tioga                      5834.0  ...                               10752.0
Cattaraugus & Allegany                                   3790.0  ...                                6790.0
Cayuga & Onondaga                                        9460.0  ...                               14344.0

[5 rows x 41 columns]

In [122]:
# join files
df = vax_df.merge(income_df, how='inner',on='County')
df

                                   County  ...  Race / Ethnicity_White, non-Hispanic
0                                  Albany  ...                                5864.0
1                                   Bronx  ...                                3744.0
2     Broome, Chenango, Delaware, & Tioga  ...                               10752.0
3                  Cattaraugus & Allegany  ...                                6790.0
4                       Cayuga & Onondaga  ...                               14344.0
5                              Chautauqua  ...                                4732.0
6     Clinton, Franklin, Essex & Hamilton  ...                                5986.0
7                       Columbia & Greene  ...                                3384.0
8                                Dutchess  ...                                5726.0
9                                    Erie  ...                               17930.0
10                    Fulton & Montgomery  ...                                3396.0
11                      Genesee & Orleans  ...                                3426.0
12                      Jefferson & Lewis  ...                                5146.0
13                                  Kings  ...                               25122.0
14                   Livingston & Wyoming  ...                                3954.0
15                     Madison & Cortland  ...                                4192.0
16                                 Monroe  ...                               13504.0
17                                 Nassau  ...                               21406.0
18                               New York  ...                               14588.0
19                                Niagara  ...                                4976.0
20                        Ontario & Yates  ...                                4202.0
21                                 Orange  ...                                5840.0
22                                 Oswego  ...                                3632.0
23  Otsego, Schoharie, Oneida, & Herkimer  ...                               13026.0
24                                 Putnam  ...                                1830.0
25                                 Queens  ...                               16972.0
26                             Rensselaer  ...                                3630.0
27                               Richmond  ...                                6268.0
28                               Rockland  ...                                4610.0
29                               Saratoga  ...                                5308.0
30                            Schenectady  ...                                3218.0
31                           St. Lawrence  ...                                3974.0
32            Steuben, Schuyler & Chemung  ...                                7876.0
33                                Suffolk  ...                               24086.0
34                      Sullivan & Ulster  ...                                5608.0
35                               Tompkins  ...                                1892.0
36                    Warren & Washington  ...                                4102.0
37                         Wayne & Seneca  ...                                4128.0
38                            Westchester  ...                               12974.0

[39 rows x 44 columns]

In [123]:
# Drop county
df = df.drop(['County'], axis=1)

In [124]:
# Check all values are numeric
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 38
Data columns (total 43 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Total_Pop                                                     39 non-null     int64
 1   Vax_Rate                                                      39 non-null     float64
 2   Households with Elderly_No                                    39 non-null     float64
 3   Households with Elderly_Yes                                   39 non-null     float64
 4   Households with Children_No                                   39 non-null     float64
 5   Households with Children_Yes                                  39 non-null     float64
 6   Income Groups_$0 to <$10,000                                  39 non-null     float64
 7   Income Groups_$10,000-<$20,000                                39 non-null     float64
 8   Income Groups_$20,000-<$30,000                                39 non-null     float64
 9   Income Groups_$30,000-<$40,000                                39 non-null     float64
 10  Income Groups_$40,000-<$50,000                                39 non-null     float64
 11  Income Groups_$50,000+                                        39 non-null     float64
 12  Percent of Poverty Level_1 - Income at or below 100% HHSPG    39 non-null     float64
 13  Percent of Poverty Level_2 - Income 101%-150% HHSPG           39 non-null     float64
 14  Percent of Poverty Level_3 - Income 151%-200% HHSPG           39 non-null     float64
 15  Percent of Poverty Level_4 - Income 201% HHSPG or more        39 non-null     float64
 16  Low-to-Moderate Income (LMI) Group_Group 1 - Very Low Income  39 non-null     float64
 17  Low-to-Moderate Income (LMI) Group_Group 2 - Low Income       39 non-null     float64
 18  Low-to-Moderate Income (LMI) Group_Group 3 - Moderate Income  39 non-null     float64
 19  Low-to-Moderate Income (LMI) Group_Non-LMI Household          39 non-null     float64
 20  Housing Unit Type_1 - Single Family Attached                  39 non-null     float64
 21  Housing Unit Type_2 - Single Family Detached                  39 non-null     float64
 22  Housing Unit Type_3 - Small Multi-Family (2-4 units)          39 non-null     float64
 23  Housing Unit Type_4 - Moderate Multi-Family (5-50 units)      39 non-null     float64
 24  Housing Unit Type_5 - Large Multi-Family (50+ units)          39 non-null     float64
 25  Housing Unit Type_6 - Mobile Homes & Other                    39 non-null     float64
 26  Education Level_1 - Less than High School Diploma             39 non-null     float64
 27  Education Level_2 - High School Diploma                       39 non-null     float64
 28  Education Level_3 - Some College                              39 non-null     float64
 29  Education Level_4 - Associate's                               39 non-null     float64
 30  Education Level_5 - Bachelor's                                39 non-null     float64
 31  Education Level_6 - Graduate Degree                           39 non-null     float64
 32  Head of Household Age_30-39                                   39 non-null     float64
 33  Head of Household Age_40-49                                   39 non-null     float64
 34  Head of Household Age_50-59                                   39 non-null     float64
 35  Head of Household Age_60-69                                   39 non-null     float64
 36  Head of Household Age_70+                                     39 non-null     float64
 37  Head of Household Age_<30                                     39 non-null     float64
 38  Race / Ethnicity_Asian, non-Hispanic                          39 non-null     float64
 39  Race / Ethnicity_Black, non-Hispanic                          39 non-null     float64
 40  Race / Ethnicity_Hispanic                                     39 non-null     float64
 41  Race / Ethnicity_Other                                        39 non-null     float64
 42  Race / Ethnicity_White, non-Hispanic                          39 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 13.4 KB

Index(['Total_Pop', 'Vax_Rate', 'Households with Elderly_No',
       'Households with Elderly_Yes', 'Households with Children_No',
       'Households with Children_Yes', 'Income Groups_$0 to <$10,000',
       'Income Groups_$10,000-<$20,000', 'Income Groups_$20,000-<$30,000',
       'Income Groups_$30,000-<$40,000', 'Income Groups_$40,000-<$50,000',
       'Income Groups_$50,000+',
       'Percent of Poverty Level_1 - Income at or below 100% HHSPG',
       'Percent of Poverty Level_2 - Income 101%-150% HHSPG',
       'Percent of Poverty Level_3 - Income 151%-200% HHSPG',
       'Percent of Poverty Level_4 - Income 201% HHSPG or more',
       'Low-to-Moderate Income (LMI) Group_Group 1 - Very Low Income',
       'Low-to-Moderate Income (LMI) Group_Group 2 - Low Income',
       'Low-to-Moderate Income (LMI) Group_Group 3 - Moderate Income',
       'Low-to-Moderate Income (LMI) Group_Non-LMI Household',
       'Housing Unit Type_1 - Single Family Attached',
       'Housing Unit Type_2 - Single Family Detached',
       'Housing Unit Type_3 - Small Multi-Family (2-4 units)',
       'Housing Unit Type_4 - Moderate Multi-Family (5-50 units)',
       'Housing Unit Type_5 - Large Multi-Family (50+ units)',
       'Housing Unit Type_6 - Mobile Homes & Other',
       'Education Level_1 - Less than High School Diploma',
       'Education Level_2 - High School Diploma',
       'Education Level_3 - Some College', 'Education Level_4 - Associate's',
       'Education Level_5 - Bachelor's', 'Education Level_6 - Graduate Degree',
       'Head of Household Age_30-39', 'Head of Household Age_40-49',
       'Head of Household Age_50-59', 'Head of Household Age_60-69',
       'Head of Household Age_70+', 'Head of Household Age_<30',
       'Race / Ethnicity_Asian, non-Hispanic',
       'Race / Ethnicity_Black, non-Hispanic', 'Race / Ethnicity_Hispanic',
       'Race / Ethnicity_Other', 'Race / Ethnicity_White, non-Hispanic'],
      dtype='object')

In [125]:
# Export to CSV for multiple regression
df.to_csv('sample_data/clean_df.csv')

In [126]:
# Split our preprocessed data into our features and target arrays
y = df["Vax_Rate"].values
X = df.drop(["Vax_Rate"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [127]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Neural Network

In [128]:
# Define the model - neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="tanh")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_17"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_41 (Dense)             (None, 10)                430
_________________________________________________________________
dense_42 (Dense)             (None, 1)                 11
=================================================================
Total params: 441
Trainable params: 441
Non-trainable params: 0
_________________________________________________________________

In [129]:
# Compile the model
nn.compile(loss="mean_absolute_error", 
           optimizer="adam")

In [130]:
# Create a callback that saves the model's weights every 5 epochs
callbacks = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
                                     save_weights_only=True, save_freq=5)

In [131]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[callbacks])

Epoch 1/100
1/1 [==============================] - 0s 308ms/step - loss: 0.8457
Epoch 2/100
1/1 [==============================] - 0s 9ms/step - loss: 0.7881
Epoch 3/100
1/1 [==============================] - 0s 4ms/step - loss: 0.7304
Epoch 4/100
1/1 [==============================] - 0s 5ms/step - loss: 0.6724
Epoch 5/100
1/1 [==============================] - 0s 29ms/step - loss: 0.6169
Epoch 6/100
1/1 [==============================] - 0s 7ms/step - loss: 0.5652
Epoch 7/100
1/1 [==============================] - 0s 5ms/step - loss: 0.5260
Epoch 8/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4943
Epoch 9/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4775
Epoch 10/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4690
Epoch 11/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4778
Epoch 12/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4869
Epoch 13/100
1/1 [==============================] - 0s 4ms/step - loss: 0.4943
Epoch 14/100
1/1 [==============================] - 0s 4ms/step - loss: 0.4985
Epoch 15/100
1/1 [==============================] - 0s 17ms/step - loss: 0.4990
Epoch 16/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4965
Epoch 17/100
1/1 [==============================] - 0s 5ms/step - loss: 0.4914
Epoch 18/100
1/1 [==============================] - 0s 5ms/step - loss: 0.4840
Epoch 19/100
1/1 [==============================] - 0s 5ms/step - loss: 0.4747
Epoch 20/100
1/1 [==============================] - 0s 20ms/step - loss: 0.4637
Epoch 21/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4519
Epoch 22/100
1/1 [==============================] - 0s 5ms/step - loss: 0.4399
Epoch 23/100
1/1 [==============================] - 0s 5ms/step - loss: 0.4288
Epoch 24/100
1/1 [==============================] - 0s 7ms/step - loss: 0.4183
Epoch 25/100
1/1 [==============================] - 0s 20ms/step - loss: 0.4116
Epoch 26/100
1/1 [==============================] - 0s 7ms/step - loss: 0.4083
Epoch 27/100
1/1 [==============================] - 0s 6ms/step - loss: 0.4073
Epoch 28/100
1/1 [==============================] - 0s 5ms/step - loss: 0.4061
Epoch 29/100
1/1 [==============================] - 0s 4ms/step - loss: 0.4034
Epoch 30/100
1/1 [==============================] - 0s 19ms/step - loss: 0.3994
Epoch 31/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3944
Epoch 32/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3882
Epoch 33/100
1/1 [==============================] - 0s 6ms/step - loss: 0.3810
Epoch 34/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3731
Epoch 35/100
1/1 [==============================] - 0s 16ms/step - loss: 0.3655
Epoch 36/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3590
Epoch 37/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3550
Epoch 38/100
1/1 [==============================] - 0s 6ms/step - loss: 0.3517
Epoch 39/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3483
Epoch 40/100
1/1 [==============================] - 0s 18ms/step - loss: 0.3447
Epoch 41/100
1/1 [==============================] - 0s 6ms/step - loss: 0.3409
Epoch 42/100
1/1 [==============================] - 0s 9ms/step - loss: 0.3367
Epoch 43/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3319
Epoch 44/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3271
Epoch 45/100
1/1 [==============================] - 0s 22ms/step - loss: 0.3222
Epoch 46/100
1/1 [==============================] - 0s 8ms/step - loss: 0.3173
Epoch 47/100
1/1 [==============================] - 0s 7ms/step - loss: 0.3123
Epoch 48/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3077
Epoch 49/100
1/1 [==============================] - 0s 6ms/step - loss: 0.3038
Epoch 50/100
1/1 [==============================] - 0s 23ms/step - loss: 0.2998
Epoch 51/100
1/1 [==============================] - 0s 7ms/step - loss: 0.2958
Epoch 52/100
1/1 [==============================] - 0s 4ms/step - loss: 0.2919
Epoch 53/100
1/1 [==============================] - 0s 5ms/step - loss: 0.2877
Epoch 54/100
1/1 [==============================] - 0s 5ms/step - loss: 0.2835
Epoch 55/100
1/1 [==============================] - 0s 25ms/step - loss: 0.2795
Epoch 56/100
1/1 [==============================] - 0s 4ms/step - loss: 0.2756
Epoch 57/100
1/1 [==============================] - 0s 4ms/step - loss: 0.2717
Epoch 58/100
1/1 [==============================] - 0s 5ms/step - loss: 0.2680
Epoch 59/100
1/1 [==============================] - 0s 5ms/step - loss: 0.2643
Epoch 60/100
1/1 [==============================] - 0s 24ms/step - loss: 0.2608
Epoch 61/100
1/1 [==============================] - 0s 5ms/step - loss: 0.2576
Epoch 62/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2543
Epoch 63/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2511
Epoch 64/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2482
Epoch 65/100
1/1 [==============================] - 0s 24ms/step - loss: 0.2454
Epoch 66/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2427
Epoch 67/100
1/1 [==============================] - 0s 8ms/step - loss: 0.2399
Epoch 68/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2375
Epoch 69/100
1/1 [==============================] - 0s 3ms/step - loss: 0.2350
Epoch 70/100
1/1 [==============================] - 0s 19ms/step - loss: 0.2325
Epoch 71/100
1/1 [==============================] - 0s 10ms/step - loss: 0.2299
Epoch 72/100
1/1 [==============================] - 0s 11ms/step - loss: 0.2271
Epoch 73/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2243
Epoch 74/100
1/1 [==============================] - 0s 8ms/step - loss: 0.2213
Epoch 75/100
1/1 [==============================] - 0s 34ms/step - loss: 0.2184
Epoch 76/100
1/1 [==============================] - 0s 5ms/step - loss: 0.2158
Epoch 77/100
1/1 [==============================] - 0s 9ms/step - loss: 0.2129
Epoch 78/100
1/1 [==============================] - 0s 5ms/step - loss: 0.2096
Epoch 79/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2061
Epoch 80/100
1/1 [==============================] - 0s 14ms/step - loss: 0.2025
Epoch 81/100
1/1 [==============================] - 0s 8ms/step - loss: 0.1988
Epoch 82/100
1/1 [==============================] - 0s 28ms/step - loss: 0.1948
Epoch 83/100
1/1 [==============================] - 0s 6ms/step - loss: 0.1905
Epoch 84/100
1/1 [==============================] - 0s 6ms/step - loss: 0.1861
Epoch 85/100
1/1 [==============================] - 0s 25ms/step - loss: 0.1820
Epoch 86/100
1/1 [==============================] - 0s 7ms/step - loss: 0.1779
Epoch 87/100
1/1 [==============================] - 0s 10ms/step - loss: 0.1737
Epoch 88/100
1/1 [==============================] - 0s 6ms/step - loss: 0.1715
Epoch 89/100
1/1 [==============================] - 0s 10ms/step - loss: 0.1694
Epoch 90/100
1/1 [==============================] - 0s 74ms/step - loss: 0.1665
Epoch 91/100
1/1 [==============================] - 0s 6ms/step - loss: 0.1639
Epoch 92/100
1/1 [==============================] - 0s 12ms/step - loss: 0.1613
Epoch 93/100
1/1 [==============================] - 0s 6ms/step - loss: 0.1586
Epoch 94/100
1/1 [==============================] - 0s 11ms/step - loss: 0.1557
Epoch 95/100
1/1 [==============================] - 0s 19ms/step - loss: 0.1527
Epoch 96/100
1/1 [==============================] - 0s 9ms/step - loss: 0.1497
Epoch 97/100
1/1 [==============================] - 0s 6ms/step - loss: 0.1487
Epoch 98/100
1/1 [==============================] - 0s 4ms/step - loss: 0.1462
Epoch 99/100
1/1 [==============================] - 0s 5ms/step - loss: 0.1427
Epoch 100/100
1/1 [==============================] - 0s 19ms/step - loss: 0.1391

In [132]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}")

1/1 [==============================] - 0s 84ms/step - loss: 0.1382
Loss: 0.138167142868042

In [133]:
#Save 
nn.save('COVID_Vax_Predictions.h5')